In [ ]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /Users/xahiru/miniconda/envs/anaka/lib/python3.8/site-packages (1.19.1)
Collecting pandas
  Downloading pandas-1.1.1-cp38-cp38-macosx_10_9_x86_64.whl (10.6 MB)
     |████████████████████████████████| 10.6 MB 40 kB/s eta 0:00:01    |████                            | 1.3 MB 32 kB/s eta 0:04:48
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/xahiru/miniconda/envs/anaka/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Using cached pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: numpy>=1.15.4 in /Users/xahiru/miniconda/envs/anaka/lib/python3.8/site-packages (from pandas) (1.19.1)
Requirement already satisfied: six>=1.5 in /Users/xahiru/miniconda/envs/anaka/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas

In [ ]:
import random
import numpy as np
n_transactions = 20
phi = 0.5
x = tuple(range(0,100))
interactions = [(random.randrange(-1, 1), random.randrange(-1, 1)) for i in range(n_transactions)]

In [ ]:
# !pip install pandas
import pandas as pd

In [1]:
interactions2 = [(random.randrange(100, 105), random.randrange(100, 105), random.uniform(0, 1), random.uniform(0, 1)) for i in range(n_transactions)]
# interactions2 = [(random.randrange(100, 105), random.randrange(110, 115), random.randrange(-1, 1), random.randrange(-1, 1)) for i in range(n_transactions)]

interactions2[:5]
dt = pd.DataFrame(interactions2, columns=['userID1', 'userID2', 'rating1', 'rating2'])

NameError: name 'n_transactions' is not defined

In [ ]:
dt.head(20)

In [10]:
print (dt['userID1'] != dt['userID2'])

0     False
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18     True
19     True
dtype: bool

In [11]:
dt = dt[dt['userID1'] != dt['userID2']]
dt.reset_index(drop=True, inplace=True)
dt
# print (dt['userID1'] != dt['userID2'])

    userID1  userID2   rating1   rating2
0       103      101  0.513306  0.074891
1       103      100  0.127133  0.438716
2       101      102  0.978646  0.786397
3       102      104  0.378681  0.035344
4       103      100  0.408085  0.013521
5       101      104  0.345062  0.100628
6       101      100  0.947590  0.640995
7       100      102  0.073854  0.547209
8       102      101  0.914659  0.527392
9       101      102  0.508018  0.315535
10      103      101  0.045595  0.678309
11      100      102  0.491253  0.992630
12      102      100  0.389173  0.314313
13      103      100  0.068483  0.327930
14      103      104  0.975377  0.609695

In [12]:
dt = dt.sort_values('userID1', ignore_index=True)
dt

    userID1  userID2   rating1   rating2
0       100      102  0.073854  0.547209
1       100      102  0.491253  0.992630
2       101      102  0.978646  0.786397
3       101      104  0.345062  0.100628
4       101      100  0.947590  0.640995
5       101      102  0.508018  0.315535
6       102      104  0.378681  0.035344
7       102      101  0.914659  0.527392
8       102      100  0.389173  0.314313
9       103      101  0.513306  0.074891
10      103      100  0.127133  0.438716
11      103      100  0.408085  0.013521
12      103      101  0.045595  0.678309
13      103      100  0.068483  0.327930
14      103      104  0.975377  0.609695

In [13]:
# dt = dt.loc[['userID1','userID2']] = dt.loc[['userID2','userID1']].values
# df[['userID1','userID2']] = pd.np.select(df['VALUE'] == 1, df[['userID2','userID1']].values, df[['userID1','userID2']].values)

# dt.loc[idx] = dt.loc[idx].rename(columns={'userID2':'userID1','userID1':'userID2'})


# for row in dt.iterrows():
#     print(row)

# tmp = dt['userID1']
# df.loc[idx,'L'] = df.loc[idx,'R']
# df.loc[idx,'R'] = tmp
# dt[['userID1','userID2']] = pd.np.select(dt['userID1'], dt[['userID2','userID1']].values, dt[['userID1','userID2']].values)
# dt.update(dt.loc[m].rename({'userID1': 'userID2', 'userID2': 'userID1'}, axis=1))
# dt

##all userID1

# uniqueid1list = dt.userID1.unique().tolist()
# print(uniqueid1list)
# dn = pd.DataFrame()
# indexlist = []
# for i in uniqueid1list:
#     print(i)
#     for index,row in dt.iterrows():
# #         print(row['userID2'])
#         if row['userID2'] == i and index not in indexlist: #
# #             print('=====')
# #             print(row)
# #             row = row.copy()
#             dt.loc[index, 'userID2'] = row['userID1']
# #             row['userID2'] = row['userID1']
#             dt.loc[index, 'userID1'] = i
# #             print(row)
# #             dt.at[x, 'userID2'] = row['userID1']
# #             dt.at[x, 'userID1'] = i
# #             
#             indexlist.append(index)

# #         dn.append(row, ignore_index = True)
#         if i in uniqueid1list:
#                 uniqueid1list.remove(i)
#         print(uniqueid1list)
        
# dt
# # dn
dt

    userID1  userID2   rating1   rating2
0       100      102  0.073854  0.547209
1       100      102  0.491253  0.992630
2       101      102  0.978646  0.786397
3       101      104  0.345062  0.100628
4       101      100  0.947590  0.640995
5       101      102  0.508018  0.315535
6       102      104  0.378681  0.035344
7       102      101  0.914659  0.527392
8       102      100  0.389173  0.314313
9       103      101  0.513306  0.074891
10      103      100  0.127133  0.438716
11      103      100  0.408085  0.013521
12      103      101  0.045595  0.678309
13      103      100  0.068483  0.327930
14      103      104  0.975377  0.609695

In [14]:
uniqueid1list = dt.userID1.unique().tolist()
print(uniqueid1list)
dn = pd.DataFrame()
indexlist = []
for i in uniqueid1list:
    for index,row in dt.iterrows():
        row = row.copy()
        if row['userID2'] == i: #and index not in indexlist
            dt.loc[index, 'userID2'] = row['userID1']
            dt.loc[index, 'userID1'] = row['userID2']
#             indexlist.append(index)
#     if i in uniqueid1list:
#             uniqueid1list.remove(i)
#     dt = dt.sort_values('userID1')
        

# dx = dt.sort_values('userID1', ignore_index=True)
dt

[100, 101, 102, 103]

    userID1  userID2   rating1   rating2
0     102.0    100.0  0.073854  0.547209
1     102.0    100.0  0.491253  0.992630
2     102.0    101.0  0.978646  0.786397
3     101.0    104.0  0.345062  0.100628
4     101.0    100.0  0.947590  0.640995
5     102.0    101.0  0.508018  0.315535
6     102.0    104.0  0.378681  0.035344
7     102.0    101.0  0.914659  0.527392
8     102.0    100.0  0.389173  0.314313
9     103.0    101.0  0.513306  0.074891
10    103.0    100.0  0.127133  0.438716
11    103.0    100.0  0.408085  0.013521
12    103.0    101.0  0.045595  0.678309
13    103.0    100.0  0.068483  0.327930
14    103.0    104.0  0.975377  0.609695

In [15]:
# dt.sort_values('userID1')
# dt['userID1']
user = 1
if user == 1:
    vd = dt.groupby(['userID1', 'userID2'])
# vd['rating1'].sum()
# vd['rating1'].mean()

In [16]:
for k, uid in vd:
    print(uid)

   userID1  userID2  rating1   rating2
4    101.0    100.0  0.94759  0.640995
   userID1  userID2   rating1   rating2
3    101.0    104.0  0.345062  0.100628
   userID1  userID2   rating1   rating2
0    102.0    100.0  0.073854  0.547209
1    102.0    100.0  0.491253  0.992630
8    102.0    100.0  0.389173  0.314313
   userID1  userID2   rating1   rating2
2    102.0    101.0  0.978646  0.786397
5    102.0    101.0  0.508018  0.315535
7    102.0    101.0  0.914659  0.527392
   userID1  userID2   rating1   rating2
6    102.0    104.0  0.378681  0.035344
    userID1  userID2   rating1   rating2
10    103.0    100.0  0.127133  0.438716
11    103.0    100.0  0.408085  0.013521
13    103.0    100.0  0.068483  0.327930
    userID1  userID2   rating1   rating2
9     103.0    101.0  0.513306  0.074891
12    103.0    101.0  0.045595  0.678309
    userID1  userID2   rating1   rating2
14    103.0    104.0  0.975377  0.609695

In [17]:
#!conda info

In [18]:
# interaction[:10]

In [19]:
def old_paper(interactions, phi):
    rj = 0
    sj = 0
    for i in interaction:
        
        rj += i[0]
        sj += i[0]

    rj += 1
    rj *= phi
    sj -= 1
    sj *+ phi
    
    return rj, sj

In [20]:
# old_paper(interactions, phi)

In [21]:
def new_paper(interactions, phi):
    rj = 0
    sj = 0
    for i in interaction:
        
        rj += (1+ i[0]) * phi
        sj += (1- i[0]) * phi 
        
    return rj, sj

In [22]:
# new_paper(interactions, phi)

In [23]:
def new_paper_with_decay(interactions, phi, decay):
    rj = 0
    sj = 0
    exp_val_n = len(interactions)
    count = 0
    for i in interactions:
        count += 1
#         print(i)
        rj += ((1+ i) * phi) * (decay **(exp_val_n - count)) 
        sj += ((1- i) * phi) * (decay **(exp_val_n - count))
        print(', st ='+ str(rj)+', ds = '+str(sj))
        
    return rj, sj

In [24]:
decay = 0.5
# new_paper_with_decay(interactions, phi, decay)

In [25]:
decay = 1
def get_uid(vd, phi, decay, user):
    newDF = pd.DataFrame()
        
    for k, uid in vd:
        itr_list = uid['rating'+str(user)].tolist()
#         print(itr_list)
        cum_rj = 0
        cum_sj = 0
        exp_val_n = len(itr_list)
        count = 0
        sj_list = []
        rj_list = []
        cum_sj_list = []
        cum_rj_list = []
        
#         for i in itr_list:
        print('=========================================================')
        for index, row in uid.iterrows():
            count += 1
            rj = ((1- row['rating'+str(user)]) * phi) * (decay **(exp_val_n - count)) #disatisfaction
            sj = ((1+ row['rating'+str(user)]) * phi) * (decay **(exp_val_n - count)) #satisfaction
            cum_rj += rj
            cum_sj += sj
            

#             print('rj ='+ str(rj)+', sj = '+str(sj))
            sj_list.append(sj)
            rj_list.append(rj)
            cum_sj_list.append(cum_sj)
            cum_rj_list.append(cum_rj)
            
            
        
#         print('vendor = '+ str(k)+', st ='+ str(rj)+', ds = '+str(sj))
        uid['User'+str(user)+'dis'] = rj_list  #disatisfaction list
        uid['User'+str(user)+'sat'] = sj_list #satisfaction list
        uid['U'+str(user)+'cum_dis'] = cum_rj_list #cummilative disatisfaction list
        uid['U'+str(user)+'cum_sat'] = cum_sj_list #cummilative satisfaction list
        

        print(uid)
        newDF = newDF.append(uid, ignore_index = True)
    return newDF


df = get_uid(vd, phi, decay, user)
df

=========================================================
   userID1  userID2  rating1   rating2  User1dis  User1sat  U1cum_dis  \
4    101.0    100.0  0.94759  0.640995  0.026205  0.973795   0.026205

   U1cum_sat
4   0.973795
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
3    101.0    104.0  0.345062  0.100628  0.327469  0.672531   0.327469

   U1cum_sat
3   0.672531
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.073854  0.547209  0.463073  0.536927   0.463073
1    102.0    100.0  0.491253  0.992630  0.254374  0.745626   0.717447
8    102.0    100.0  0.389173  0.314313  0.305413  0.694587   1.022860

   U1cum_sat
0   0.536927
1   1.282553
8   1.977140
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    102.0    101.0  0.978646  0.786397  0.010677  0.989323   0.010677
5    102.0    101.0  0.508018  0.315535  0.245991  0.754009   0.256668
7    102.0    101.0  0.914659  0.527392  0.042671  0.957329   0.299339

   U1cum_sat
2   0.989323
5   1.743332
7   2.700661
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
6    102.0    104.0  0.378681  0.035344   0.31066   0.68934    0.31066

   U1cum_sat
6    0.68934
=========================================================
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
10    103.0    100.0  0.127133  0.438716  0.436434  0.563566   0.436434
11    103.0    100.0  0.408085  0.013521  0.295957  0.704043   0.732391
13    103.0    100.0  0.068483  0.327930  0.465758  0.534242   1.198150

    U1cum_sat
10   0.563566
11   1.267609
13   1.801850
=========================================================
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     103.0    101.0  0.513306  0.074891  0.243347  0.756653   0.243347
12    103.0    101.0  0.045595  0.678309  0.477202  0.522798   0.720550

    U1cum_sat
9    0.756653
12   1.279450
=========================================================
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    103.0    104.0  0.975377  0.609695  0.012311  0.987689   0.012311

    U1cum_sat
14   0.987689

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat
0,101.0,100.0,0.947590,0.640995,0.026205,0.973795,0.026205,0.973795
1,101.0,104.0,0.345062,0.100628,0.327469,0.672531,0.327469,0.672531
2,102.0,100.0,0.073854,0.547209,0.463073,0.536927,0.463073,0.536927
3,102.0,100.0,0.491253,0.992630,0.254374,0.745626,0.717447,1.282553
4,102.0,100.0,0.389173,0.314313,0.305413,0.694587,1.022860,1.977140
5,102.0,101.0,0.978646,0.786397,0.010677,0.989323,0.010677,0.989323
6,102.0,101.0,0.508018,0.315535,0.245991,0.754009,0.256668,1.743332
7,102.0,101.0,0.914659,0.527392,0.042671,0.957329,0.299339,2.700661
8,102.0,104.0,0.378681,0.035344,0.310660,0.689340,0.310660,0.689340
9,103.0,100.0,0.127133,0.438716,0.436434,0.563566,0.436434,0.563566
10,103.0,100.0,0.408085,0.013521,0.295957,0.704043,0.732391,1.267609
11,103.0,100.0,0.068483,0.327930,0.465758,0.534242,1.198150,1.801850
12,103.0,101.0,0.513306,0.074891,0.243347,0.756653,0.243347,0.756653
13,103.0,101.0,0.045595,0.678309,0.477202,0.522798,0.720550,1.279450
14,103.0,104.0,0.975377,0.609695,0.012311,0.987689,0.012311,0.987689

In [26]:
# for  uid in df:
#     print(uid)

df

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat
0,101.0,100.0,0.947590,0.640995,0.026205,0.973795,0.026205,0.973795
1,101.0,104.0,0.345062,0.100628,0.327469,0.672531,0.327469,0.672531
2,102.0,100.0,0.073854,0.547209,0.463073,0.536927,0.463073,0.536927
3,102.0,100.0,0.491253,0.992630,0.254374,0.745626,0.717447,1.282553
4,102.0,100.0,0.389173,0.314313,0.305413,0.694587,1.022860,1.977140
5,102.0,101.0,0.978646,0.786397,0.010677,0.989323,0.010677,0.989323
6,102.0,101.0,0.508018,0.315535,0.245991,0.754009,0.256668,1.743332
7,102.0,101.0,0.914659,0.527392,0.042671,0.957329,0.299339,2.700661
8,102.0,104.0,0.378681,0.035344,0.310660,0.689340,0.310660,0.689340
9,103.0,100.0,0.127133,0.438716,0.436434,0.563566,0.436434,0.563566
10,103.0,100.0,0.408085,0.013521,0.295957,0.704043,0.732391,1.267609
11,103.0,100.0,0.068483,0.327930,0.465758,0.534242,1.198150,1.801850
12,103.0,101.0,0.513306,0.074891,0.243347,0.756653,0.243347,0.756653
13,103.0,101.0,0.045595,0.678309,0.477202,0.522798,0.720550,1.279450
14,103.0,104.0,0.975377,0.609695,0.012311,0.987689,0.012311,0.987689

In [27]:
##running on second user col
vd = dt.groupby(['userID2', 'userID1'])
for k, uid in vd:
    print(uid)

   userID1  userID2  rating1   rating2
4    101.0    100.0  0.94759  0.640995
   userID1  userID2   rating1   rating2
0    102.0    100.0  0.073854  0.547209
1    102.0    100.0  0.491253  0.992630
8    102.0    100.0  0.389173  0.314313
    userID1  userID2   rating1   rating2
10    103.0    100.0  0.127133  0.438716
11    103.0    100.0  0.408085  0.013521
13    103.0    100.0  0.068483  0.327930
   userID1  userID2   rating1   rating2
2    102.0    101.0  0.978646  0.786397
5    102.0    101.0  0.508018  0.315535
7    102.0    101.0  0.914659  0.527392
    userID1  userID2   rating1   rating2
9     103.0    101.0  0.513306  0.074891
12    103.0    101.0  0.045595  0.678309
   userID1  userID2   rating1   rating2
3    101.0    104.0  0.345062  0.100628
   userID1  userID2   rating1   rating2
6    102.0    104.0  0.378681  0.035344
    userID1  userID2   rating1   rating2
14    103.0    104.0  0.975377  0.609695

In [28]:
user = 2
df2 = get_uid(vd, phi, decay, user)
df2

=========================================================
   userID1  userID2  rating1   rating2  User2dis  User2sat  U2cum_dis  \
4    101.0    100.0  0.94759  0.640995  0.179502  0.820498   0.179502

   U2cum_sat
4   0.820498
=========================================================
   userID1  userID2   rating1   rating2  User2dis  User2sat  U2cum_dis  \
0    102.0    100.0  0.073854  0.547209  0.226396  0.773604   0.226396
1    102.0    100.0  0.491253  0.992630  0.003685  0.996315   0.230081
8    102.0    100.0  0.389173  0.314313  0.342844  0.657156   0.572924

   U2cum_sat
0   0.773604
1   1.769919
8   2.427076
=========================================================
    userID1  userID2   rating1   rating2  User2dis  User2sat  U2cum_dis  \
10    103.0    100.0  0.127133  0.438716  0.280642  0.719358   0.280642
11    103.0    100.0  0.408085  0.013521  0.493239  0.506761   0.773881
13    103.0    100.0  0.068483  0.327930  0.336035  0.663965   1.109916

    U2cum_sat
10   0.719358
11   1.226119
13   1.890084
=========================================================
   userID1  userID2   rating1   rating2  User2dis  User2sat  U2cum_dis  \
2    102.0    101.0  0.978646  0.786397  0.106802  0.893198   0.106802
5    102.0    101.0  0.508018  0.315535  0.342233  0.657767   0.449034
7    102.0    101.0  0.914659  0.527392  0.236304  0.763696   0.685338

   U2cum_sat
2   0.893198
5   1.550966
7   2.314662
=========================================================
    userID1  userID2   rating1   rating2  User2dis  User2sat  U2cum_dis  \
9     103.0    101.0  0.513306  0.074891  0.462555  0.537445   0.462555
12    103.0    101.0  0.045595  0.678309  0.160845  0.839155   0.623400

    U2cum_sat
9    0.537445
12   1.376600
=========================================================
   userID1  userID2   rating1   rating2  User2dis  User2sat  U2cum_dis  \
3    101.0    104.0  0.345062  0.100628  0.449686  0.550314   0.449686

   U2cum_sat
3   0.550314
=========================================================
   userID1  userID2   rating1   rating2  User2dis  User2sat  U2cum_dis  \
6    102.0    104.0  0.378681  0.035344  0.482328  0.517672   0.482328

   U2cum_sat
6   0.517672
=========================================================
    userID1  userID2   rating1   rating2  User2dis  User2sat  U2cum_dis  \
14    103.0    104.0  0.975377  0.609695  0.195152  0.804848   0.195152

    U2cum_sat
14   0.804848

,userID1,userID2,rating1,rating2,User2dis,User2sat,U2cum_dis,U2cum_sat
0,101.0,100.0,0.947590,0.640995,0.179502,0.820498,0.179502,0.820498
1,102.0,100.0,0.073854,0.547209,0.226396,0.773604,0.226396,0.773604
2,102.0,100.0,0.491253,0.992630,0.003685,0.996315,0.230081,1.769919
3,102.0,100.0,0.389173,0.314313,0.342844,0.657156,0.572924,2.427076
4,103.0,100.0,0.127133,0.438716,0.280642,0.719358,0.280642,0.719358
5,103.0,100.0,0.408085,0.013521,0.493239,0.506761,0.773881,1.226119
6,103.0,100.0,0.068483,0.327930,0.336035,0.663965,1.109916,1.890084
7,102.0,101.0,0.978646,0.786397,0.106802,0.893198,0.106802,0.893198
8,102.0,101.0,0.508018,0.315535,0.342233,0.657767,0.449034,1.550966
9,102.0,101.0,0.914659,0.527392,0.236304,0.763696,0.685338,2.314662
10,103.0,101.0,0.513306,0.074891,0.462555,0.537445,0.462555,0.537445
11,103.0,101.0,0.045595,0.678309,0.160845,0.839155,0.623400,1.376600
12,101.0,104.0,0.345062,0.100628,0.449686,0.550314,0.449686,0.550314
13,102.0,104.0,0.378681,0.035344,0.482328,0.517672,0.482328,0.517672
14,103.0,104.0,0.975377,0.609695,0.195152,0.804848,0.195152,0.804848

In [29]:
df.reset_index(drop=True, inplace=True)
df
cd = df.groupby(['userID2', 'userID1'])
df = get_uid(cd, phi, decay, user)

=========================================================
   userID1  userID2  rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    101.0    100.0  0.94759  0.640995  0.026205  0.973795   0.026205

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
0   0.973795  0.179502  0.820498   0.179502   0.820498
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    102.0    100.0  0.073854  0.547209  0.463073  0.536927   0.463073
3    102.0    100.0  0.491253  0.992630  0.254374  0.745626   0.717447
4    102.0    100.0  0.389173  0.314313  0.305413  0.694587   1.022860

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
2   0.536927  0.226396  0.773604   0.226396   0.773604
3   1.282553  0.003685  0.996315   0.230081   1.769919
4   1.977140  0.342844  0.657156   0.572924   2.427076
=========================================================
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     103.0    100.0  0.127133  0.438716  0.436434  0.563566   0.436434
10    103.0    100.0  0.408085  0.013521  0.295957  0.704043   0.732391
11    103.0    100.0  0.068483  0.327930  0.465758  0.534242   1.198150

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
9    0.563566  0.280642  0.719358   0.280642   0.719358
10   1.267609  0.493239  0.506761   0.773881   1.226119
11   1.801850  0.336035  0.663965   1.109916   1.890084
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    102.0    101.0  0.978646  0.786397  0.010677  0.989323   0.010677
6    102.0    101.0  0.508018  0.315535  0.245991  0.754009   0.256668
7    102.0    101.0  0.914659  0.527392  0.042671  0.957329   0.299339

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
5   0.989323  0.106802  0.893198   0.106802   0.893198
6   1.743332  0.342233  0.657767   0.449034   1.550966
7   2.700661  0.236304  0.763696   0.685338   2.314662
=========================================================
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    103.0    101.0  0.513306  0.074891  0.243347  0.756653   0.243347
13    103.0    101.0  0.045595  0.678309  0.477202  0.522798   0.720550

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
12   0.756653  0.462555  0.537445   0.462555   0.537445
13   1.279450  0.160845  0.839155   0.623400   1.376600
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
1    101.0    104.0  0.345062  0.100628  0.327469  0.672531   0.327469

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
1   0.672531  0.449686  0.550314   0.449686   0.550314
=========================================================
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    102.0    104.0  0.378681  0.035344   0.31066   0.68934    0.31066

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
8    0.68934  0.482328  0.517672   0.482328   0.517672
=========================================================
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    103.0    104.0  0.975377  0.609695  0.012311  0.987689   0.012311

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
14   0.987689  0.195152  0.804848   0.195152   0.804848

In [30]:
# df.reset_index(drop=True, inplace=True)
# df
# cd = df.groupby(['userID2', 'userID1'])
# cd

In [31]:
df

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,U2cum_dis,U2cum_sat
0,101.0,100.0,0.947590,0.640995,0.026205,0.973795,0.026205,0.973795,0.179502,0.820498,0.179502,0.820498
1,102.0,100.0,0.073854,0.547209,0.463073,0.536927,0.463073,0.536927,0.226396,0.773604,0.226396,0.773604
2,102.0,100.0,0.491253,0.992630,0.254374,0.745626,0.717447,1.282553,0.003685,0.996315,0.230081,1.769919
3,102.0,100.0,0.389173,0.314313,0.305413,0.694587,1.022860,1.977140,0.342844,0.657156,0.572924,2.427076
4,103.0,100.0,0.127133,0.438716,0.436434,0.563566,0.436434,0.563566,0.280642,0.719358,0.280642,0.719358
5,103.0,100.0,0.408085,0.013521,0.295957,0.704043,0.732391,1.267609,0.493239,0.506761,0.773881,1.226119
6,103.0,100.0,0.068483,0.327930,0.465758,0.534242,1.198150,1.801850,0.336035,0.663965,1.109916,1.890084
7,102.0,101.0,0.978646,0.786397,0.010677,0.989323,0.010677,0.989323,0.106802,0.893198,0.106802,0.893198
8,102.0,101.0,0.508018,0.315535,0.245991,0.754009,0.256668,1.743332,0.342233,0.657767,0.449034,1.550966
9,102.0,101.0,0.914659,0.527392,0.042671,0.957329,0.299339,2.700661,0.236304,0.763696,0.685338,2.314662
10,103.0,101.0,0.513306,0.074891,0.243347,0.756653,0.243347,0.756653,0.462555,0.537445,0.462555,0.537445
11,103.0,101.0,0.045595,0.678309,0.477202,0.522798,0.720550,1.279450,0.160845,0.839155,0.623400,1.376600
12,101.0,104.0,0.345062,0.100628,0.327469,0.672531,0.327469,0.672531,0.449686,0.550314,0.449686,0.550314
13,102.0,104.0,0.378681,0.035344,0.310660,0.689340,0.310660,0.689340,0.482328,0.517672,0.482328,0.517672
14,103.0,104.0,0.975377,0.609695,0.012311,0.987689,0.012311,0.987689,0.195152,0.804848,0.195152,0.804848

In [32]:
user = 1
df.reset_index(drop=True, inplace=True)
df
cd = df.groupby(['userID1', 'userID2'])
cd

In [33]:

def get_belief_count_based(df, divider, epsilon):
#     tricky here, col.sum would result different than len(col)
    dbis = []
    bellis = []
    for index, row in df:
#         print(index)
#         print(row)
        dbis_count = 0
        total = len(row)
        for i in row:
            if i < divider:
                dbis_count += 1
        bel = total - dbis_count
        bel = (bel)/(total + epsilon)
        disbel = (dbis_count)/(total + epsilon)
        uncertainity = epsilon / (total + epsilon)
        
        dbis.append(disbel)
        bellis.append(bel)
    print('dbis')  
    print(dbis)
    print('bellis')
    print(bellis)

#range -1 to 1
def get_belief_implicit_divider(df, divider, epsilon):
#   tricky here, col.sum would result different than len(col)
    dbis = []
    bellis = []
    for index, row in df:
        bel = 0
        disbel = 0
        for i in row:
            if i < divider:
                disbel += i
            else:
                bel += i
        
        bel = (bel)/(bel + disbel + epsilon)
        disbel = disbel /(bel + disbel + epsilon)
        uncertainity = epsilon / (bel + disbel + epsilon)
        
        dbis.append(disbel)
        bellis.append(bel)
    print('dbis')  
    print(dbis)
    print('bellis')
    print(bellis)
    
 
# ratings = df
# ratings = df.groupby(['userID1', 'userID2'])
# ratings = df.groupby(['userID1']).rating1
# get_belief_count_based(ratings, 0, 0.001)
# get_belief_implicit(ratings,0.001)
# get_belief_implicit_divider(ratings,0,0.001)

In [34]:
#range 0-1
def get_belief_implicit(cd, epsilon, user):
#     tricky here, col.sum would result different than len(col)

#change
    newdDF = pd.DataFrame()
    for k, af in cd:
        print(af)
        

        dbis = []
        bellis = []
        unlis = []
        
        
        
        for index, row in af.iterrows():
            cum_dis = 0
            cum_sat = 0
            total_sat_dit = 0
            den = 0
#             print(row['rating1'])
#             for i in row['rating1']:
#                 print(i)
            cum_dis = row['U'+str(user)+'cum_dis'] 
            cum_sat = (row['U'+str(user)+'cum_sat'])


            print('cum_dis')
            print(cum_dis)
            print('cum_sat')
            print(cum_sat)
            print('total')
            total_sat_dit = cum_dis+cum_sat
            den = total_sat_dit + epsilon 
            print(total_sat_dit)
            belief = cum_sat /(den)
            disbelief = cum_dis /(den)
            uncertainity = epsilon / (den)
            
            dbis.append(disbelief)
            bellis.append(belief)
            unlis.append(uncertainity)
 

        af['bel'+str(user)] = bellis
        af['dis'+str(user)] = dbis
        af['unc'+str(user)] = unlis

        print(af)
        newdDF = newdDF.append(af, ignore_index = True)

#     print('dbis')  
#     print(dbis)
#     print('bellis')
#     print(bellis)
    return newdDF
        

cd
uncertainity = 0.001
df_dbu =get_belief_implicit(cd,uncertainity, user)

   userID1  userID2  rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    101.0    100.0  0.94759  0.640995  0.026205  0.973795   0.026205

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
0   0.973795  0.179502  0.820498   0.179502   0.820498
cum_dis
0.026205230177429373
cum_sat
0.9737947698225706
total
1.0
   userID1  userID2  rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    101.0    100.0  0.94759  0.640995  0.026205  0.973795   0.026205

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
0   0.973795  0.179502  0.820498   0.179502   0.820498  0.972822  0.026179

       unc1
0  0.000999
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    101.0    104.0  0.345062  0.100628  0.327469  0.672531   0.327469

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
12   0.672531  0.449686  0.550314   0.449686   0.550314
cum_dis
0.32746913903048674
cum_sat
0.6725308609695133
total
1.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    101.0    104.0  0.345062  0.100628  0.327469  0.672531   0.327469

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
12   0.672531  0.449686  0.550314   0.449686   0.550314  0.671859  0.327142

        unc1
12  0.000999
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
1    102.0    100.0  0.073854  0.547209  0.463073  0.536927   0.463073
2    102.0    100.0  0.491253  0.992630  0.254374  0.745626   0.717447
3    102.0    100.0  0.389173  0.314313  0.305413  0.694587   1.022860

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
1   0.536927  0.226396  0.773604   0.226396   0.773604
2   1.282553  0.003685  0.996315   0.230081   1.769919
3   1.977140  0.342844  0.657156   0.572924   2.427076
cum_dis
0.46307313927270294
cum_sat
0.536926860727297
total
1.0
cum_dis
0.7174468341227221
cum_sat
1.2825531658772777
total
2.0
cum_dis
1.022860318981425
cum_sat
1.9771396810185748
total
3.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
1    102.0    100.0  0.073854  0.547209  0.463073  0.536927   0.463073
2    102.0    100.0  0.491253  0.992630  0.254374  0.745626   0.717447
3    102.0    100.0  0.389173  0.314313  0.305413  0.694587   1.022860

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
1   0.536927  0.226396  0.773604   0.226396   0.773604  0.536390  0.462611
2   1.282553  0.003685  0.996315   0.230081   1.769919  0.640956  0.358544
3   1.977140  0.342844  0.657156   0.572924   2.427076  0.658827  0.340840

       unc1
1  0.000999
2  0.000500
3  0.000333
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
7    102.0    101.0  0.978646  0.786397  0.010677  0.989323   0.010677
8    102.0    101.0  0.508018  0.315535  0.245991  0.754009   0.256668
9    102.0    101.0  0.914659  0.527392  0.042671  0.957329   0.299339

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
7   0.989323  0.106802  0.893198   0.106802   0.893198
8   1.743332  0.342233  0.657767   0.449034   1.550966
9   2.700661  0.236304  0.763696   0.685338   2.314662
cum_dis
0.010677186222531054
cum_sat
0.989322813777469
total
1.0
cum_dis
0.2566680360446812
cum_sat
1.7433319639553189
total
2.0
cum_dis
0.29933867298172073
cum_sat
2.7006613270182793
total
3.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
7    102.0    101.0  0.978646  0.786397  0.010677  0.989323   0.010677
8    102.0    101.0  0.508018  0.315535  0.245991  0.754009   0.256668
9    102.0    101.0  0.914659  0.527392  0.042671  0.957329   0.299339

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
7   0.989323  0.106802  0.893198   0.106802   0.893198  0.988334  0.010667
8   1.743332  0.342233  0.657767   0.449034   1.550966  0.871230  0.128270
9   2.700661  0.236304  0.763696   0.685338   2.314662  0.899920  0.099746

       unc1
7  0.000999
8  0.000500
9  0.000333
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
13    102.0    104.0  0.378681  0.035344   0.31066   0.68934    0.31066

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
13    0.68934  0.482328  0.517672   0.482328   0.517672
cum_dis
0.3106597342898971
cum_sat
0.6893402657101029
total
1.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
13    102.0    104.0  0.378681  0.035344   0.31066   0.68934    0.31066

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
13    0.68934  0.482328  0.517672   0.482328   0.517672  0.688652  0.310349

        unc1
13  0.000999
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
4    103.0    100.0  0.127133  0.438716  0.436434  0.563566   0.436434
5    103.0    100.0  0.408085  0.013521  0.295957  0.704043   0.732391
6    103.0    100.0  0.068483  0.327930  0.465758  0.534242   1.198150

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
4   0.563566  0.280642  0.719358   0.280642   0.719358
5   1.267609  0.493239  0.506761   0.773881   1.226119
6   1.801850  0.336035  0.663965   1.109916   1.890084
cum_dis
0.4364336949162202
cum_sat
0.5635663050837798
total
1.0
cum_dis
0.7323910817024056
cum_sat
1.2676089182975945
total
2.0
cum_dis
1.198149501064505
cum_sat
1.8018504989354953
total
3.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
4    103.0    100.0  0.127133  0.438716  0.436434  0.563566   0.436434
5    103.0    100.0  0.408085  0.013521  0.295957  0.704043   0.732391
6    103.0    100.0  0.068483  0.327930  0.465758  0.534242   1.198150

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
4   0.563566  0.280642  0.719358   0.280642   0.719358  0.563003  0.435998
5   1.267609  0.493239  0.506761   0.773881   1.226119  0.633488  0.366013
6   1.801850  0.336035  0.663965   1.109916   1.890084  0.600417  0.399250

       unc1
4  0.000999
5  0.000500
6  0.000333
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
10    103.0    101.0  0.513306  0.074891  0.243347  0.756653   0.243347
11    103.0    101.0  0.045595  0.678309  0.477202  0.522798   0.720550

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
10   0.756653  0.462555  0.537445   0.462555   0.537445
11   1.279450  0.160845  0.839155   0.623400   1.376600
cum_dis
0.2433472485399344
cum_sat
0.7566527514600656
total
1.0
cum_dis
0.7205496419371651
cum_sat
1.279450358062835
total
2.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
10    103.0    101.0  0.513306  0.074891  0.243347  0.756653   0.243347
11    103.0    101.0  0.045595  0.678309  0.477202  0.522798   0.720550

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
10   0.756653  0.462555  0.537445   0.462555   0.537445  0.755897  0.243104
11   1.279450  0.160845  0.839155   0.623400   1.376600  0.639405  0.360095

        unc1
10  0.000999
11  0.000500
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    103.0    104.0  0.975377  0.609695  0.012311  0.987689   0.012311

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat
14   0.987689  0.195152  0.804848   0.195152   0.804848
cum_dis
0.012311350162044765
cum_sat
0.9876886498379552
total
1.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    103.0    104.0  0.975377  0.609695  0.012311  0.987689   0.012311

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
14   0.987689  0.195152  0.804848   0.195152   0.804848  0.986702  0.012299

        unc1
14  0.000999

In [35]:
df_dbu

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,U2cum_dis,U2cum_sat,bel1,dis1,unc1
0,101.0,100.0,0.947590,0.640995,0.026205,0.973795,0.026205,0.973795,0.179502,0.820498,0.179502,0.820498,0.972822,0.026179,0.000999
1,101.0,104.0,0.345062,0.100628,0.327469,0.672531,0.327469,0.672531,0.449686,0.550314,0.449686,0.550314,0.671859,0.327142,0.000999
2,102.0,100.0,0.073854,0.547209,0.463073,0.536927,0.463073,0.536927,0.226396,0.773604,0.226396,0.773604,0.536390,0.462611,0.000999
3,102.0,100.0,0.491253,0.992630,0.254374,0.745626,0.717447,1.282553,0.003685,0.996315,0.230081,1.769919,0.640956,0.358544,0.000500
4,102.0,100.0,0.389173,0.314313,0.305413,0.694587,1.022860,1.977140,0.342844,0.657156,0.572924,2.427076,0.658827,0.340840,0.000333
5,102.0,101.0,0.978646,0.786397,0.010677,0.989323,0.010677,0.989323,0.106802,0.893198,0.106802,0.893198,0.988334,0.010667,0.000999
6,102.0,101.0,0.508018,0.315535,0.245991,0.754009,0.256668,1.743332,0.342233,0.657767,0.449034,1.550966,0.871230,0.128270,0.000500
7,102.0,101.0,0.914659,0.527392,0.042671,0.957329,0.299339,2.700661,0.236304,0.763696,0.685338,2.314662,0.899920,0.099746,0.000333
8,102.0,104.0,0.378681,0.035344,0.310660,0.689340,0.310660,0.689340,0.482328,0.517672,0.482328,0.517672,0.688652,0.310349,0.000999
9,103.0,100.0,0.127133,0.438716,0.436434,0.563566,0.436434,0.563566,0.280642,0.719358,0.280642,0.719358,0.563003,0.435998,0.000999
10,103.0,100.0,0.408085,0.013521,0.295957,0.704043,0.732391,1.267609,0.493239,0.506761,0.773881,1.226119,0.633488,0.366013,0.000500
11,103.0,100.0,0.068483,0.327930,0.465758,0.534242,1.198150,1.801850,0.336035,0.663965,1.109916,1.890084,0.600417,0.399250,0.000333
12,103.0,101.0,0.513306,0.074891,0.243347,0.756653,0.243347,0.756653,0.462555,0.537445,0.462555,0.537445,0.755897,0.243104,0.000999
13,103.0,101.0,0.045595,0.678309,0.477202,0.522798,0.720550,1.279450,0.160845,0.839155,0.623400,1.376600,0.639405,0.360095,0.000500
14,103.0,104.0,0.975377,0.609695,0.012311,0.987689,0.012311,0.987689,0.195152,0.804848,0.195152,0.804848,0.986702,0.012299,0.000999

In [36]:
user = 2
df_dbu.reset_index(drop=True, inplace=True)

cd = df_dbu.groupby(['userID2', 'userID1'])
cd
df_dbu =get_belief_implicit(cd,0.001, user)

   userID1  userID2  rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    101.0    100.0  0.94759  0.640995  0.026205  0.973795   0.026205

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
0   0.973795  0.179502  0.820498   0.179502   0.820498  0.972822  0.026179

       unc1
0  0.000999
cum_dis
0.17950237466595304
cum_sat
0.820497625334047
total
1.0
   userID1  userID2  rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    101.0    100.0  0.94759  0.640995  0.026205  0.973795   0.026205

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
0   0.973795  0.179502  0.820498   0.179502   0.820498  0.972822  0.026179

       unc1      bel2      dis2      unc2
0  0.000999  0.819678  0.179323  0.000999
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    102.0    100.0  0.073854  0.547209  0.463073  0.536927   0.463073
3    102.0    100.0  0.491253  0.992630  0.254374  0.745626   0.717447
4    102.0    100.0  0.389173  0.314313  0.305413  0.694587   1.022860

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
2   0.536927  0.226396  0.773604   0.226396   0.773604  0.536390  0.462611
3   1.282553  0.003685  0.996315   0.230081   1.769919  0.640956  0.358544
4   1.977140  0.342844  0.657156   0.572924   2.427076  0.658827  0.340840

       unc1
2  0.000999
3  0.000500
4  0.000333
cum_dis
0.22639574530040046
cum_sat
0.7736042546995996
total
1.0
cum_dis
0.23008056183386938
cum_sat
1.7699194381661307
total
2.0
cum_dis
0.5729241994519647
cum_sat
2.4270758005480353
total
3.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    102.0    100.0  0.073854  0.547209  0.463073  0.536927   0.463073
3    102.0    100.0  0.491253  0.992630  0.254374  0.745626   0.717447
4    102.0    100.0  0.389173  0.314313  0.305413  0.694587   1.022860

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
2   0.536927  0.226396  0.773604   0.226396   0.773604  0.536390  0.462611
3   1.282553  0.003685  0.996315   0.230081   1.769919  0.640956  0.358544
4   1.977140  0.342844  0.657156   0.572924   2.427076  0.658827  0.340840

       unc1      bel2      dis2      unc2
2  0.000999  0.772831  0.226170  0.000999
3  0.000500  0.884517  0.114983  0.000500
4  0.000333  0.808756  0.190911  0.000333
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     103.0    100.0  0.127133  0.438716  0.436434  0.563566   0.436434
10    103.0    100.0  0.408085  0.013521  0.295957  0.704043   0.732391
11    103.0    100.0  0.068483  0.327930  0.465758  0.534242   1.198150

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
9    0.563566  0.280642  0.719358   0.280642   0.719358  0.563003  0.435998
10   1.267609  0.493239  0.506761   0.773881   1.226119  0.633488  0.366013
11   1.801850  0.336035  0.663965   1.109916   1.890084  0.600417  0.399250

        unc1
9   0.000999
10  0.000500
11  0.000333
cum_dis
0.2806419676775615
cum_sat
0.7193580323224384
total
1.0
cum_dis
0.773881330375967
cum_sat
1.226118669624033
total
2.0
cum_dis
1.1099164188695059
cum_sat
1.890083581130494
total
3.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     103.0    100.0  0.127133  0.438716  0.436434  0.563566   0.436434
10    103.0    100.0  0.408085  0.013521  0.295957  0.704043   0.732391
11    103.0    100.0  0.068483  0.327930  0.465758  0.534242   1.198150

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
9    0.563566  0.280642  0.719358   0.280642   0.719358  0.563003  0.435998
10   1.267609  0.493239  0.506761   0.773881   1.226119  0.633488  0.366013
11   1.801850  0.336035  0.663965   1.109916   1.890084  0.600417  0.399250

        unc1      bel2      dis2      unc2
9   0.000999  0.718639  0.280362  0.000999
10  0.000500  0.612753  0.386747  0.000500
11  0.000333  0.629818  0.369849  0.000333
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    102.0    101.0  0.978646  0.786397  0.010677  0.989323   0.010677
6    102.0    101.0  0.508018  0.315535  0.245991  0.754009   0.256668
7    102.0    101.0  0.914659  0.527392  0.042671  0.957329   0.299339

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
5   0.989323  0.106802  0.893198   0.106802   0.893198  0.988334  0.010667
6   1.743332  0.342233  0.657767   0.449034   1.550966  0.871230  0.128270
7   2.700661  0.236304  0.763696   0.685338   2.314662  0.899920  0.099746

       unc1
5  0.000999
6  0.000500
7  0.000333
cum_dis
0.10680160549445061
cum_sat
0.8931983945055494
total
1.0
cum_dis
0.44903432343228006
cum_sat
1.5509656765677198
total
1.9999999999999998
cum_dis
0.6853383206131154
cum_sat
2.3146616793868846
total
3.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    102.0    101.0  0.978646  0.786397  0.010677  0.989323   0.010677
6    102.0    101.0  0.508018  0.315535  0.245991  0.754009   0.256668
7    102.0    101.0  0.914659  0.527392  0.042671  0.957329   0.299339

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
5   0.989323  0.106802  0.893198   0.106802   0.893198  0.988334  0.010667
6   1.743332  0.342233  0.657767   0.449034   1.550966  0.871230  0.128270
7   2.700661  0.236304  0.763696   0.685338   2.314662  0.899920  0.099746

       unc1      bel2      dis2      unc2
5  0.000999  0.892306  0.106695  0.000999
6  0.000500  0.775095  0.224405  0.000500
7  0.000333  0.771297  0.228370  0.000333
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    103.0    101.0  0.513306  0.074891  0.243347  0.756653   0.243347
13    103.0    101.0  0.045595  0.678309  0.477202  0.522798   0.720550

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
12   0.756653  0.462555  0.537445   0.462555   0.537445  0.755897  0.243104
13   1.279450  0.160845  0.839155   0.623400   1.376600  0.639405  0.360095

        unc1
12  0.000999
13  0.000500
cum_dis
0.462554626159305
cum_sat
0.537445373840695
total
1.0
cum_dis
0.6234000839510718
cum_sat
1.3765999160489282
total
2.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    103.0    101.0  0.513306  0.074891  0.243347  0.756653   0.243347
13    103.0    101.0  0.045595  0.678309  0.477202  0.522798   0.720550

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
12   0.756653  0.462555  0.537445   0.462555   0.537445  0.755897  0.243104
13   1.279450  0.160845  0.839155   0.623400   1.376600  0.639405  0.360095

        unc1      bel2      dis2      unc2
12  0.000999  0.536908  0.462093  0.000999
13  0.000500  0.687956  0.311544  0.000500
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
1    101.0    104.0  0.345062  0.100628  0.327469  0.672531   0.327469

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
1   0.672531  0.449686  0.550314   0.449686   0.550314  0.671859  0.327142

       unc1
1  0.000999
cum_dis
0.4496862021835186
cum_sat
0.5503137978164814
total
1.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
1    101.0    104.0  0.345062  0.100628  0.327469  0.672531   0.327469

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
1   0.672531  0.449686  0.550314   0.449686   0.550314  0.671859  0.327142

       unc1      bel2      dis2      unc2
1  0.000999  0.549764  0.449237  0.000999
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    102.0    104.0  0.378681  0.035344   0.31066   0.68934    0.31066

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
8    0.68934  0.482328  0.517672   0.482328   0.517672  0.688652  0.310349

       unc1
8  0.000999
cum_dis
0.48232776149751366
cum_sat
0.5176722385024863
total
1.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    102.0    104.0  0.378681  0.035344   0.31066   0.68934    0.31066

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
8    0.68934  0.482328  0.517672   0.482328   0.517672  0.688652  0.310349

       unc1      bel2      dis2      unc2
8  0.000999  0.517155  0.481846  0.000999
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    103.0    104.0  0.975377  0.609695  0.012311  0.987689   0.012311

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
14   0.987689  0.195152  0.804848   0.195152   0.804848  0.986702  0.012299

        unc1
14  0.000999
cum_dis
0.19515226562833593
cum_sat
0.804847734371664
total
1.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    103.0    104.0  0.975377  0.609695  0.012311  0.987689   0.012311

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
14   0.987689  0.195152  0.804848   0.195152   0.804848  0.986702  0.012299

        unc1      bel2      dis2      unc2
14  0.000999  0.804044  0.194957  0.000999

In [37]:
df_dbu

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,U2cum_dis,U2cum_sat,bel1,dis1,unc1,bel2,dis2,unc2
0,101.0,100.0,0.947590,0.640995,0.026205,0.973795,0.026205,0.973795,0.179502,0.820498,0.179502,0.820498,0.972822,0.026179,0.000999,0.819678,0.179323,0.000999
1,102.0,100.0,0.073854,0.547209,0.463073,0.536927,0.463073,0.536927,0.226396,0.773604,0.226396,0.773604,0.536390,0.462611,0.000999,0.772831,0.226170,0.000999
2,102.0,100.0,0.491253,0.992630,0.254374,0.745626,0.717447,1.282553,0.003685,0.996315,0.230081,1.769919,0.640956,0.358544,0.000500,0.884517,0.114983,0.000500
3,102.0,100.0,0.389173,0.314313,0.305413,0.694587,1.022860,1.977140,0.342844,0.657156,0.572924,2.427076,0.658827,0.340840,0.000333,0.808756,0.190911,0.000333
4,103.0,100.0,0.127133,0.438716,0.436434,0.563566,0.436434,0.563566,0.280642,0.719358,0.280642,0.719358,0.563003,0.435998,0.000999,0.718639,0.280362,0.000999
5,103.0,100.0,0.408085,0.013521,0.295957,0.704043,0.732391,1.267609,0.493239,0.506761,0.773881,1.226119,0.633488,0.366013,0.000500,0.612753,0.386747,0.000500
6,103.0,100.0,0.068483,0.327930,0.465758,0.534242,1.198150,1.801850,0.336035,0.663965,1.109916,1.890084,0.600417,0.399250,0.000333,0.629818,0.369849,0.000333
7,102.0,101.0,0.978646,0.786397,0.010677,0.989323,0.010677,0.989323,0.106802,0.893198,0.106802,0.893198,0.988334,0.010667,0.000999,0.892306,0.106695,0.000999
8,102.0,101.0,0.508018,0.315535,0.245991,0.754009,0.256668,1.743332,0.342233,0.657767,0.449034,1.550966,0.871230,0.128270,0.000500,0.775095,0.224405,0.000500
9,102.0,101.0,0.914659,0.527392,0.042671,0.957329,0.299339,2.700661,0.236304,0.763696,0.685338,2.314662,0.899920,0.099746,0.000333,0.771297,0.228370,0.000333
10,103.0,101.0,0.513306,0.074891,0.243347,0.756653,0.243347,0.756653,0.462555,0.537445,0.462555,0.537445,0.755897,0.243104,0.000999,0.536908,0.462093,0.000999
11,103.0,101.0,0.045595,0.678309,0.477202,0.522798,0.720550,1.279450,0.160845,0.839155,0.623400,1.376600,0.639405,0.360095,0.000500,0.687956,0.311544,0.000500
12,101.0,104.0,0.345062,0.100628,0.327469,0.672531,0.327469,0.672531,0.449686,0.550314,0.449686,0.550314,0.671859,0.327142,0.000999,0.549764,0.449237,0.000999
13,102.0,104.0,0.378681,0.035344,0.310660,0.689340,0.310660,0.689340,0.482328,0.517672,0.482328,0.517672,0.688652,0.310349,0.000999,0.517155,0.481846,0.000999
14,103.0,104.0,0.975377,0.609695,0.012311,0.987689,0.012311,0.987689,0.195152,0.804848,0.195152,0.804848,0.986702,0.012299,0.000999,0.804044,0.194957,0.000999

In [38]:

# g = df.groupby('c')['type'].value_counts().reset_index(name='t')
# g['size'] = df.groupby('c')['type'].transform('size')


# df.groupby(['userID2', 'userID1']).rating2.sum()

# df['disbel'] = df.groupby(['userID2', 'userID1'])
# df.groupby(['userID2', 'userID1']).apply(get_belief(df))
# df.groupby(['userID2', 'userID1']).apply(get_belief(df))


# g['disb'] = df.groupby(['userID2', 'userID1'])['rating1'].transform('disb')

In [39]:
# for uid in df:
#     print(uid)
# for index, row in df.iterrows():
#     print(row)

In [40]:
##get common vendors between requester and adviso
def find_vedors(df, requestor):
    #get requestors neighbors == vendors [xx,xx,xx, xx]
    #for all neighbors get their vendors [yy, yyy, yy, yy, yy]
    #get intersection of neigbors with vendors
    req_list1 = df[df['userID1'] == requestor]
    req_list2 = df[df['userID2'] == requestor]
    
#     print(df.loc[(df['userID1'] == requestor ) | (df['userID2'] == requestor )].userID2.unique())
#     print(df.loc[(df['userID1'] == requestor ) | (df['userID2'] == requestor )].userID1.unique())
    
        
    print('neighbors in req_list1 are '+str(req_list1.userID2.unique()))
    print('neighbors in req_list2 are '+str(req_list2.userID1.unique()))
    all_neighbors = np.concatenate((req_list1.userID2.unique(), req_list2.userID1.unique()))
    print('all_neighbors '+ str(all_neighbors))
    
    neighbor_list = {}
    for n in all_neighbors:
        print('neighbor '+str(n)+'\'s vendors ')
#         print(df[df['userID1'] == n ].userID2.unique())
#         print(df[df['userID2'] == n ].userID1.unique())
        n_vendors = np.concatenate((df[df['userID1'] == n ].userID2.unique(), df[df['userID2'] == n ].userID1.unique()))
        n_vendors = list(filter(lambda a: a != requestor, n_vendors))
        neighbor_list[n] =  n_vendors
        print('n_vendors '+ str(n_vendors))
    
    ##for  k neigbor get common vendor
    print(neighbor_list)
#     print(len(neighbor_list))
    comm_vendors = {}
    for k, ven in neighbor_list.items():
#         print('kkkkkkkkk')
#         print(k)
#         if k == 102.0:
#             del ven[-1]
        comm_vendors[k] =  [i for i, j in zip(all_neighbors, ven) if i == j]
        
    print('comm_vendors')
    print(comm_vendors)
    
    return comm_vendors
          
#     for idx, row in neighbor:
#     print(neighbors.userID2.unique())

requestor = 101
print('requestor '+ str(requestor))
find_vedors(df_dbu, requestor)

requestor 101
neighbors in req_list1 are [100. 104.]
neighbors in req_list2 are [102. 103.]
all_neighbors [100. 104. 102. 103.]
neighbor 100.0's vendors
n_vendors [102.0, 103.0]
neighbor 104.0's vendors
n_vendors [102.0, 103.0]
neighbor 102.0's vendors
n_vendors [100.0, 104.0]
neighbor 103.0's vendors
n_vendors [100.0, 104.0]
{100.0: [102.0, 103.0], 104.0: [102.0, 103.0], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}
comm_vendors
{100.0: [], 104.0: [], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}

{100.0: [], 104.0: [], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}

In [41]:
def get_distance_betweenAB(a,b, df):
    print('Distance between'+ str(a)+' and '+str(b))
    locs = df.loc[(df['userID1'] == a) & (df['userID2'] == b)]
    print('locs')
    print(locs)
    
# df_dbu
requestor = 101
vendor = 100.0
get_distance_betweenAB(requestor, vendor, df_dbu)

Distance between101 and 100.0
locs
   userID1  userID2  rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    101.0    100.0  0.94759  0.640995  0.026205  0.973795   0.026205

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
0   0.973795  0.179502  0.820498   0.179502   0.820498  0.972822  0.026179

       unc1      bel2      dis2      unc2
0  0.000999  0.819678  0.179323  0.000999

In [42]:
def get_MeanDistance(requester, adviser, com_vendor_list, df):
    
    print('requester = '+ str(requester))
    print('adviser = '+ str(adviser))
    
    distance = 0
#     dx = df.groupby(['userID1', 'userID2'])
#     df.loc[(df['column_name'] >= v) & (df['column_name'] <= B)]

#     print(df)
    for v in com_vendor_list:
#         print('vendor')
        print(v)
        
        
#         break;
# #         n_vendors = np.concatenate((df[df['userID1'] == n ].userID2.unique(), df[df['userID2'] == n ].userID1.unique()))

# #         print(df['userID1'])
#         print('=======')
#         req_list1 = dx['userID1'] == requester
# #         req_list2 = df[df['userID2'] == requester]
#         print(req_list1)

In [43]:
requestor = 101
print('requestor '+ str(requestor))
find_vedors(df_dbu, requestor)

requestor 101
neighbors in req_list1 are [100. 104.]
neighbors in req_list2 are [102. 103.]
all_neighbors [100. 104. 102. 103.]
neighbor 100.0's vendors
n_vendors [102.0, 103.0]
neighbor 104.0's vendors
n_vendors [102.0, 103.0]
neighbor 102.0's vendors
n_vendors [100.0, 104.0]
neighbor 103.0's vendors
n_vendors [100.0, 104.0]
{100.0: [102.0, 103.0], 104.0: [102.0, 103.0], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}
comm_vendors
{100.0: [], 104.0: [], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}

{100.0: [], 104.0: [], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}

In [44]:
all_com_vendorwith101 = find_vedors(df_dbu, requestor)

neighbors in req_list1 are [100. 104.]
neighbors in req_list2 are [102. 103.]
all_neighbors [100. 104. 102. 103.]
neighbor 100.0's vendors
n_vendors [102.0, 103.0]
neighbor 104.0's vendors
n_vendors [102.0, 103.0]
neighbor 102.0's vendors
n_vendors [100.0, 104.0]
neighbor 103.0's vendors
n_vendors [100.0, 104.0]
{100.0: [102.0, 103.0], 104.0: [102.0, 103.0], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}
comm_vendors
{100.0: [], 104.0: [], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}

In [45]:
all_com_vendorwith101

{100.0: [], 104.0: [], 102.0: [100.0, 104.0], 103.0: [100.0, 104.0]}

In [46]:
adviser = 103.0
re_ad_comm_list  = all_com_vendorwith101[adviser]
x_dub = get_MeanDistance(requestor, adviser, re_ad_comm_list, df_dbu)

requester = 101
adviser = 103.0
100.0
104.0

In [47]:
df_dbu

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,U2cum_dis,U2cum_sat,bel1,dis1,unc1,bel2,dis2,unc2
0,101.0,100.0,0.947590,0.640995,0.026205,0.973795,0.026205,0.973795,0.179502,0.820498,0.179502,0.820498,0.972822,0.026179,0.000999,0.819678,0.179323,0.000999
1,102.0,100.0,0.073854,0.547209,0.463073,0.536927,0.463073,0.536927,0.226396,0.773604,0.226396,0.773604,0.536390,0.462611,0.000999,0.772831,0.226170,0.000999
2,102.0,100.0,0.491253,0.992630,0.254374,0.745626,0.717447,1.282553,0.003685,0.996315,0.230081,1.769919,0.640956,0.358544,0.000500,0.884517,0.114983,0.000500
3,102.0,100.0,0.389173,0.314313,0.305413,0.694587,1.022860,1.977140,0.342844,0.657156,0.572924,2.427076,0.658827,0.340840,0.000333,0.808756,0.190911,0.000333
4,103.0,100.0,0.127133,0.438716,0.436434,0.563566,0.436434,0.563566,0.280642,0.719358,0.280642,0.719358,0.563003,0.435998,0.000999,0.718639,0.280362,0.000999
5,103.0,100.0,0.408085,0.013521,0.295957,0.704043,0.732391,1.267609,0.493239,0.506761,0.773881,1.226119,0.633488,0.366013,0.000500,0.612753,0.386747,0.000500
6,103.0,100.0,0.068483,0.327930,0.465758,0.534242,1.198150,1.801850,0.336035,0.663965,1.109916,1.890084,0.600417,0.399250,0.000333,0.629818,0.369849,0.000333
7,102.0,101.0,0.978646,0.786397,0.010677,0.989323,0.010677,0.989323,0.106802,0.893198,0.106802,0.893198,0.988334,0.010667,0.000999,0.892306,0.106695,0.000999
8,102.0,101.0,0.508018,0.315535,0.245991,0.754009,0.256668,1.743332,0.342233,0.657767,0.449034,1.550966,0.871230,0.128270,0.000500,0.775095,0.224405,0.000500
9,102.0,101.0,0.914659,0.527392,0.042671,0.957329,0.299339,2.700661,0.236304,0.763696,0.685338,2.314662,0.899920,0.099746,0.000333,0.771297,0.228370,0.000333
10,103.0,101.0,0.513306,0.074891,0.243347,0.756653,0.243347,0.756653,0.462555,0.537445,0.462555,0.537445,0.755897,0.243104,0.000999,0.536908,0.462093,0.000999
11,103.0,101.0,0.045595,0.678309,0.477202,0.522798,0.720550,1.279450,0.160845,0.839155,0.623400,1.376600,0.639405,0.360095,0.000500,0.687956,0.311544,0.000500
12,101.0,104.0,0.345062,0.100628,0.327469,0.672531,0.327469,0.672531,0.449686,0.550314,0.449686,0.550314,0.671859,0.327142,0.000999,0.549764,0.449237,0.000999
13,102.0,104.0,0.378681,0.035344,0.310660,0.689340,0.310660,0.689340,0.482328,0.517672,0.482328,0.517672,0.688652,0.310349,0.000999,0.517155,0.481846,0.000999
14,103.0,104.0,0.975377,0.609695,0.012311,0.987689,0.012311,0.987689,0.195152,0.804848,0.195152,0.804848,0.986702,0.012299,0.000999,0.804044,0.194957,0.000999

In [108]:
# df_dbu
# x_dub

def all_userpair_distance(df):
    
    distance_li = []
    normalized_dist = []
#     newDFwithDistance = pd.DataFrame()
    
    for index, row in df.iterrows():
        nonsqrt = 0
        dist = 0
        normalized_distance = 0
#         print(row.bel1)
        #adviser.bel2-requester.bel1
        #adviser.dis2-requester.bel1
        #adviser.un2-requester.un1
        nonsqrt=((row.bel2 - row.bel1)**2) + ((row.dis2 - row.dis1)**2) + ((row.unc2 - row.unc1)**2)
        dist = nonsqrt** (1/2)
        distance_li.append(dist)
        normalized_distance = dist/2
        normalized_dist.append(normalized_distance)
        print(normalized_distance)
    
    df['n_dis'+str(user)] = normalized_dist
    df['distance'+str(user)] = distance_li
    
    return df
        
distance_df = all_userpair_distance(df_dbu)

0.05058216756257671
0.059727117833516155
0.09812824418059045
0.07977993125725252
0.027021855217540386
0.1603528282830647
0.020601689019715916
0.029910518441228603
0.20503593911834994
0.18645507398177583
0.11101649916267209
0.007370344785821476
0.12360515932089028
0.04970314497815694
0.04414303827388138
0.08510496635837093

In [109]:
distance_df

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,U2cum_dis,U2cum_sat,bel1,dis1,unc1,bel2,dis2,unc2,n_dis2,distance2
0,102.0,100.0,0.632893,0.776104,0.183553,0.816447,0.183553,0.816447,0.111948,0.888052,0.111948,0.888052,0.815631,0.183370,0.000999,0.887165,0.111836,0.000999,0.050582,0.101164
1,102.0,100.0,0.728110,0.922935,0.135945,0.864055,0.319499,1.680501,0.038532,0.961468,0.150480,1.849520,0.839831,0.159669,0.000500,0.924298,0.075203,0.000500,0.059727,0.119454
2,103.0,100.0,0.103090,0.380916,0.448455,0.551545,0.448455,0.551545,0.309542,0.690458,0.309542,0.690458,0.550994,0.448007,0.000999,0.689768,0.309233,0.000999,0.098128,0.196256
3,103.0,100.0,0.842354,0.112999,0.078823,0.921177,0.527278,1.472722,0.443500,0.556500,0.753043,1.246957,0.735993,0.263507,0.000500,0.623167,0.376333,0.000500,0.079780,0.159560
4,103.0,100.0,0.147114,0.828007,0.426443,0.573557,0.953721,2.046279,0.085996,0.914004,0.839039,2.160961,0.681866,0.317801,0.000333,0.720080,0.279586,0.000333,0.027022,0.054044
5,104.0,100.0,0.650004,0.196004,0.174998,0.825002,0.174998,0.825002,0.401998,0.598002,0.401998,0.598002,0.824178,0.174823,0.000999,0.597405,0.401596,0.000999,0.160353,0.320706
6,104.0,100.0,0.062248,0.399649,0.468876,0.531124,0.643874,1.356126,0.300176,0.699824,0.702174,1.297826,0.677724,0.321776,0.000500,0.648589,0.350911,0.000500,0.020602,0.041203
7,104.0,100.0,0.433854,0.296570,0.283073,0.716927,0.926947,2.073053,0.351715,0.648285,1.053889,1.946111,0.690787,0.308879,0.000333,0.648488,0.351179,0.000333,0.029911,0.059821
8,103.0,101.0,0.360552,0.941061,0.319724,0.680276,0.319724,0.680276,0.029470,0.970530,0.029470,0.970530,0.679596,0.319405,0.000999,0.969561,0.029440,0.000999,0.205036,0.410072
9,103.0,101.0,0.213923,0.688690,0.393039,0.606961,0.712763,1.287237,0.155655,0.844345,0.185124,1.814876,0.643297,0.356203,0.000500,0.906984,0.092516,0.000500,0.186455,0.372910
10,103.0,101.0,0.213516,0.100559,0.393242,0.606758,1.106005,1.893995,0.449720,0.550280,0.634845,2.365155,0.631121,0.368545,0.000333,0.788122,0.211544,0.000333,0.111016,0.222033
11,104.0,101.0,0.417647,0.396780,0.291176,0.708824,0.291176,0.708824,0.301610,0.698390,0.301610,0.698390,0.708115,0.290886,0.000999,0.697692,0.301309,0.000999,0.007370,0.014741
12,104.0,101.0,0.183202,0.903636,0.408399,0.591601,0.699575,1.300425,0.048182,0.951818,0.349792,1.650208,0.649887,0.349613,0.000500,0.824692,0.174809,0.000500,0.123605,0.247210
13,103.0,102.0,0.769929,0.910651,0.115036,0.884964,0.115036,0.884964,0.044675,0.955325,0.044675,0.955325,0.884080,0.114921,0.000999,0.954371,0.044630,0.000999,0.049703,0.099406
14,104.0,102.0,0.287147,0.162167,0.356427,0.643573,0.356427,0.643573,0.418917,0.581083,0.418917,0.581083,0.642930,0.356071,0.000999,0.580503,0.418498,0.000999,0.044143,0.088286
15,104.0,103.0,0.518363,0.759317,0.240818,0.759182,0.240818,0.759182,0.120341,0.879659,0.120341,0.879659,0.758423,0.240578,0.000999,0.878780,0.120221,0.000999,0.085105,0.170210

In [110]:
def mean_distance(df, user=2):
    meanDF = pd.DataFrame()
    for k, af in df:
        print(af)
        m_dis = []
        count = 0
        cum_n_dis = 0
        mean_distantance = 0
        for index, row in af.iterrows():
            count += 1
            cum_n_dis += row['n_dis'+str(user)]
            mean_distantance = cum_n_dis/count
            
            print('cum_n_dis')
            print(cum_n_dis)
            print('mean_distantance')
            print(mean_distantance)
            
            m_dis.append(mean_distantance)

        af['md'+str(user)] = m_dis
        print(af)
        
        meanDF = meanDF.append(af, ignore_index = True)

    return meanDF

In [111]:

mtodf = distance_df.groupby(['userID1', 'userID2']) 
mddf = mean_distance(mtodf)
mddf

   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
0   0.816447  0.111948  0.888052   0.111948   0.888052  0.815631  0.183370
1   1.680501  0.038532  0.961468   0.150480   1.849520  0.839831  0.159669

       unc1      bel2      dis2      unc2    n_dis2  distance2
0  0.000999  0.887165  0.111836  0.000999  0.050582   0.101164
1  0.000500  0.924298  0.075203  0.000500  0.059727   0.119454
cum_n_dis
0.05058216756257671
mean_distantance
0.05058216756257671
cum_n_dis
0.11030928539609286
mean_distantance
0.05515464269804643
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
0   0.816447  0.111948  0.888052  ...   0.888052  0.815631  0.183370
1   1.680501  0.038532  0.961468  ...   1.849520  0.839831  0.159669

       unc1      bel2      dis2      unc2    n_dis2  distance2       md2
0  0.000999  0.887165  0.111836  0.000999  0.050582   0.101164  0.050582
1  0.000500  0.924298  0.075203  0.000500  0.059727   0.119454  0.055155

[2 rows x 21 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
2   0.551545  0.309542  0.690458   0.309542   0.690458  0.550994  0.448007
3   1.472722  0.443500  0.556500   0.753043   1.246957  0.735993  0.263507
4   2.046279  0.085996  0.914004   0.839039   2.160961  0.681866  0.317801

       unc1      bel2      dis2      unc2    n_dis2  distance2
2  0.000999  0.689768  0.309233  0.000999  0.098128   0.196256
3  0.000500  0.623167  0.376333  0.000500  0.079780   0.159560
4  0.000333  0.720080  0.279586  0.000333  0.027022   0.054044
cum_n_dis
0.09812824418059045
mean_distantance
0.09812824418059045
cum_n_dis
0.17790817543784299
mean_distantance
0.08895408771892149
cum_n_dis
0.20493003065538337
mean_distantance
0.06831001021846113
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
2   0.551545  0.309542  0.690458  ...   0.690458  0.550994  0.448007
3   1.472722  0.443500  0.556500  ...   1.246957  0.735993  0.263507
4   2.046279  0.085996  0.914004  ...   2.160961  0.681866  0.317801

       unc1      bel2      dis2      unc2    n_dis2  distance2       md2
2  0.000999  0.689768  0.309233  0.000999  0.098128   0.196256  0.098128
3  0.000500  0.623167  0.376333  0.000500  0.079780   0.159560  0.088954
4  0.000333  0.720080  0.279586  0.000333  0.027022   0.054044  0.068310

[3 rows x 21 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8     103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
9     103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
10    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
8    0.680276  0.029470  0.970530   0.029470   0.970530  0.679596  0.319405
9    1.287237  0.155655  0.844345   0.185124   1.814876  0.643297  0.356203
10   1.893995  0.449720  0.550280   0.634845   2.365155  0.631121  0.368545

        unc1      bel2      dis2      unc2    n_dis2  distance2
8   0.000999  0.969561  0.029440  0.000999  0.205036   0.410072
9   0.000500  0.906984  0.092516  0.000500  0.186455   0.372910
10  0.000333  0.788122  0.211544  0.000333  0.111016   0.222033
cum_n_dis
0.20503593911834994
mean_distantance
0.20503593911834994
cum_n_dis
0.3914910131001258
mean_distantance
0.1957455065500629
cum_n_dis
0.5025075122627979
mean_distantance
0.16750250408759929
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8     103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
9     103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
10    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
8    0.680276  0.029470  0.970530  ...   0.970530  0.679596  0.319405
9    1.287237  0.155655  0.844345  ...   1.814876  0.643297  0.356203
10   1.893995  0.449720  0.550280  ...   2.365155  0.631121  0.368545

        unc1      bel2      dis2      unc2    n_dis2  distance2       md2
8   0.000999  0.969561  0.029440  0.000999  0.205036   0.410072  0.205036
9   0.000500  0.906984  0.092516  0.000500  0.186455   0.372910  0.195746
10  0.000333  0.788122  0.211544  0.000333  0.111016   0.222033  0.167503

[3 rows x 21 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
13    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat     bel1      dis1  \
13   0.884964  0.044675  0.955325   0.044675   0.955325  0.88408  0.114921

        unc1      bel2     dis2      unc2    n_dis2  distance2
13  0.000999  0.954371  0.04463  0.000999  0.049703   0.099406
cum_n_dis
0.04970314497815694
mean_distantance
0.04970314497815694
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
13    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat     bel1      dis1  \
13   0.884964  0.044675  0.955325  ...   0.955325  0.88408  0.114921

        unc1      bel2     dis2      unc2    n_dis2  distance2       md2
13  0.000999  0.954371  0.04463  0.000999  0.049703   0.099406  0.049703

[1 rows x 21 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
6    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
7    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

   U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
5   0.825002  0.401998  0.598002   0.401998   0.598002  0.824178  0.174823
6   1.356126  0.300176  0.699824   0.702174   1.297826  0.677724  0.321776
7   2.073053  0.351715  0.648285   1.053889   1.946111  0.690787  0.308879

       unc1      bel2      dis2      unc2    n_dis2  distance2
5  0.000999  0.597405  0.401596  0.000999  0.160353   0.320706
6  0.000500  0.648589  0.350911  0.000500  0.020602   0.041203
7  0.000333  0.648488  0.351179  0.000333  0.029911   0.059821
cum_n_dis
0.1603528282830647
mean_distantance
0.1603528282830647
cum_n_dis
0.18095451730278062
mean_distantance
0.09047725865139031
cum_n_dis
0.21086503574400922
mean_distantance
0.07028834524800308
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
6    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
7    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

   U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
5   0.825002  0.401998  0.598002  ...   0.598002  0.824178  0.174823
6   1.356126  0.300176  0.699824  ...   1.297826  0.677724  0.321776
7   2.073053  0.351715  0.648285  ...   1.946111  0.690787  0.308879

       unc1      bel2      dis2      unc2    n_dis2  distance2       md2
5  0.000999  0.597405  0.401596  0.000999  0.160353   0.320706  0.160353
6  0.000500  0.648589  0.350911  0.000500  0.020602   0.041203  0.090477
7  0.000333  0.648488  0.351179  0.000333  0.029911   0.059821  0.070288

[3 rows x 21 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
11    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
12    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
11   0.708824  0.301610  0.698390   0.301610   0.698390  0.708115  0.290886
12   1.300425  0.048182  0.951818   0.349792   1.650208  0.649887  0.349613

        unc1      bel2      dis2      unc2    n_dis2  distance2
11  0.000999  0.697692  0.301309  0.000999  0.007370   0.014741
12  0.000500  0.824692  0.174809  0.000500  0.123605   0.247210
cum_n_dis
0.007370344785821476
mean_distantance
0.007370344785821476
cum_n_dis
0.13097550410671174
mean_distantance
0.06548775205335587
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
11    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
12    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
11   0.708824  0.301610  0.698390  ...   0.698390  0.708115  0.290886
12   1.300425  0.048182  0.951818  ...   1.650208  0.649887  0.349613

        unc1      bel2      dis2      unc2    n_dis2  distance2       md2
11  0.000999  0.697692  0.301309  0.000999  0.007370   0.014741  0.007370
12  0.000500  0.824692  0.174809  0.000500  0.123605   0.247210  0.065488

[2 rows x 21 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat     bel1      dis1  \
14   0.643573  0.418917  0.581083   0.418917   0.581083  0.64293  0.356071

        unc1      bel2      dis2      unc2    n_dis2  distance2
14  0.000999  0.580503  0.418498  0.000999  0.044143   0.088286
cum_n_dis
0.04414303827388138
mean_distantance
0.04414303827388138
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat     bel1      dis1  \
14   0.643573  0.418917  0.581083  ...   0.581083  0.64293  0.356071

        unc1      bel2      dis2      unc2    n_dis2  distance2       md2
14  0.000999  0.580503  0.418498  0.000999  0.044143   0.088286  0.044143

[1 rows x 21 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  U2cum_dis  U2cum_sat      bel1      dis1  \
15   0.759182  0.120341  0.879659   0.120341   0.879659  0.758423  0.240578

        unc1     bel2      dis2      unc2    n_dis2  distance2

15  0.000999  0.87878  0.120221  0.000999  0.085105    0.17021
cum_n_dis
0.08510496635837093
mean_distantance
0.08510496635837093
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
15   0.759182  0.120341  0.879659  ...   0.879659  0.758423  0.240578

        unc1     bel2      dis2      unc2    n_dis2  distance2       md2
15  0.000999  0.87878  0.120221  0.000999  0.085105    0.17021  0.085105

[1 rows x 21 columns]

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,...,U2cum_sat,bel1,dis1,unc1,bel2,dis2,unc2,n_dis2,distance2,md2
0,102.0,100.0,0.632893,0.776104,0.183553,0.816447,0.183553,0.816447,0.111948,0.888052,...,0.888052,0.815631,0.183370,0.000999,0.887165,0.111836,0.000999,0.050582,0.101164,0.050582
1,102.0,100.0,0.728110,0.922935,0.135945,0.864055,0.319499,1.680501,0.038532,0.961468,...,1.849520,0.839831,0.159669,0.000500,0.924298,0.075203,0.000500,0.059727,0.119454,0.055155
2,103.0,100.0,0.103090,0.380916,0.448455,0.551545,0.448455,0.551545,0.309542,0.690458,...,0.690458,0.550994,0.448007,0.000999,0.689768,0.309233,0.000999,0.098128,0.196256,0.098128
3,103.0,100.0,0.842354,0.112999,0.078823,0.921177,0.527278,1.472722,0.443500,0.556500,...,1.246957,0.735993,0.263507,0.000500,0.623167,0.376333,0.000500,0.079780,0.159560,0.088954
4,103.0,100.0,0.147114,0.828007,0.426443,0.573557,0.953721,2.046279,0.085996,0.914004,...,2.160961,0.681866,0.317801,0.000333,0.720080,0.279586,0.000333,0.027022,0.054044,0.068310
5,103.0,101.0,0.360552,0.941061,0.319724,0.680276,0.319724,0.680276,0.029470,0.970530,...,0.970530,0.679596,0.319405,0.000999,0.969561,0.029440,0.000999,0.205036,0.410072,0.205036
6,103.0,101.0,0.213923,0.688690,0.393039,0.606961,0.712763,1.287237,0.155655,0.844345,...,1.814876,0.643297,0.356203,0.000500,0.906984,0.092516,0.000500,0.186455,0.372910,0.195746
7,103.0,101.0,0.213516,0.100559,0.393242,0.606758,1.106005,1.893995,0.449720,0.550280,...,2.365155,0.631121,0.368545,0.000333,0.788122,0.211544,0.000333,0.111016,0.222033,0.167503
8,103.0,102.0,0.769929,0.910651,0.115036,0.884964,0.115036,0.884964,0.044675,0.955325,...,0.955325,0.884080,0.114921,0.000999,0.954371,0.044630,0.000999,0.049703,0.099406,0.049703
9,104.0,100.0,0.650004,0.196004,0.174998,0.825002,0.174998,0.825002,0.401998,0.598002,...,0.598002,0.824178,0.174823,0.000999,0.597405,0.401596,0.000999,0.160353,0.320706,0.160353
10,104.0,100.0,0.062248,0.399649,0.468876,0.531124,0.643874,1.356126,0.300176,0.699824,...,1.297826,0.677724,0.321776,0.000500,0.648589,0.350911,0.000500,0.020602,0.041203,0.090477
11,104.0,100.0,0.433854,0.296570,0.283073,0.716927,0.926947,2.073053,0.351715,0.648285,...,1.946111,0.690787,0.308879,0.000333,0.648488,0.351179,0.000333,0.029911,0.059821,0.070288
12,104.0,101.0,0.417647,0.396780,0.291176,0.708824,0.291176,0.708824,0.301610,0.698390,...,0.698390,0.708115,0.290886,0.000999,0.697692,0.301309,0.000999,0.007370,0.014741,0.007370
13,104.0,101.0,0.183202,0.903636,0.408399,0.591601,0.699575,1.300425,0.048182,0.951818,...,1.650208,0.649887,0.349613,0.000500,0.824692,0.174809,0.000500,0.123605,0.247210,0.065488
14,104.0,102.0,0.287147,0.162167,0.356427,0.643573,0.356427,0.643573,0.418917,0.581083,...,0.581083,0.642930,0.356071,0.000999,0.580503,0.418498,0.000999,0.044143,0.088286,0.044143
15,104.0,103.0,0.518363,0.759317,0.240818,0.759182,0.240818,0.759182,0.120341,0.879659,...,0.879659,0.758423,0.240578,0.000999,0.878780,0.120221,0.000999,0.085105,0.170210,0.085105

In [112]:
def sim(df, user=2):
    simDF = pd.DataFrame()
    for k, af in df:
        print(af)
        sim_li = []
        for index, row in af.iterrows():
            sim = 0
            md = row['md'+str(user)]
            sim = 1 - md
            print('sim')
            print(sim)
            sim_li.append(sim)

        af['sim'+str(user)] = sim_li
        print(af)
        
        simDF = simDF.append(af, ignore_index = True)

    return simDF

In [113]:
mtodf_groupby = mddf.groupby(['userID1', 'userID2']) 
dfwithsim = sim(mtodf_groupby)
dfwithsim

   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
0   0.816447  0.111948  0.888052  ...   0.888052  0.815631  0.183370
1   1.680501  0.038532  0.961468  ...   1.849520  0.839831  0.159669

       unc1      bel2      dis2      unc2    n_dis2  distance2       md2
0  0.000999  0.887165  0.111836  0.000999  0.050582   0.101164  0.050582
1  0.000500  0.924298  0.075203  0.000500  0.059727   0.119454  0.055155

[2 rows x 21 columns]
sim
0.9494178324374233
sim
0.9448453573019535
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1      bel2  \
0   0.816447  0.111948  0.888052  ...  0.815631  0.183370  0.000999  0.887165
1   1.680501  0.038532  0.961468  ...  0.839831  0.159669  0.000500  0.924298

       dis2      unc2    n_dis2  distance2       md2      sim2
0  0.111836  0.000999  0.050582   0.101164  0.050582  0.949418
1  0.075203  0.000500  0.059727   0.119454  0.055155  0.944845

[2 rows x 22 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
2   0.551545  0.309542  0.690458  ...   0.690458  0.550994  0.448007
3   1.472722  0.443500  0.556500  ...   1.246957  0.735993  0.263507
4   2.046279  0.085996  0.914004  ...   2.160961  0.681866  0.317801

       unc1      bel2      dis2      unc2    n_dis2  distance2       md2
2  0.000999  0.689768  0.309233  0.000999  0.098128   0.196256  0.098128
3  0.000500  0.623167  0.376333  0.000500  0.079780   0.159560  0.088954
4  0.000333  0.720080  0.279586  0.000333  0.027022   0.054044  0.068310

[3 rows x 21 columns]
sim
0.9018717558194096
sim
0.9110459122810786
sim
0.9316899897815388
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1      bel2  \
2   0.551545  0.309542  0.690458  ...  0.550994  0.448007  0.000999  0.689768
3   1.472722  0.443500  0.556500  ...  0.735993  0.263507  0.000500  0.623167
4   2.046279  0.085996  0.914004  ...  0.681866  0.317801  0.000333  0.720080

       dis2      unc2    n_dis2  distance2       md2      sim2
2  0.309233  0.000999  0.098128   0.196256  0.098128  0.901872
3  0.376333  0.000500  0.079780   0.159560  0.088954  0.911046
4  0.279586  0.000333  0.027022   0.054044  0.068310  0.931690

[3 rows x 22 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
5   0.680276  0.029470  0.970530  ...   0.970530  0.679596  0.319405
6   1.287237  0.155655  0.844345  ...   1.814876  0.643297  0.356203
7   1.893995  0.449720  0.550280  ...   2.365155  0.631121  0.368545

       unc1      bel2      dis2      unc2    n_dis2  distance2       md2
5  0.000999  0.969561  0.029440  0.000999  0.205036   0.410072  0.205036
6  0.000500  0.906984  0.092516  0.000500  0.186455   0.372910  0.195746
7  0.000333  0.788122  0.211544  0.000333  0.111016   0.222033  0.167503

[3 rows x 21 columns]
sim
0.7949640608816501
sim
0.8042544934499372
sim
0.8324974959124007
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1      bel2  \
5   0.680276  0.029470  0.970530  ...  0.679596  0.319405  0.000999  0.969561
6   1.287237  0.155655  0.844345  ...  0.643297  0.356203  0.000500  0.906984
7   1.893995  0.449720  0.550280  ...  0.631121  0.368545  0.000333  0.788122

       dis2      unc2    n_dis2  distance2       md2      sim2
5  0.029440  0.000999  0.205036   0.410072  0.205036  0.794964
6  0.092516  0.000500  0.186455   0.372910  0.195746  0.804254
7  0.211544  0.000333  0.111016   0.222033  0.167503  0.832497

[3 rows x 22 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...  U2cum_sat     bel1      dis1      unc1  \
8   0.884964  0.044675  0.955325  ...   0.955325  0.88408  0.114921  0.000999

       bel2     dis2      unc2    n_dis2  distance2       md2
8  0.954371  0.04463  0.000999  0.049703   0.099406  0.049703

[1 rows x 21 columns]
sim
0.950296855021843
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...     bel1      dis1      unc1      bel2  \
8   0.884964  0.044675  0.955325  ...  0.88408  0.114921  0.000999  0.954371

      dis2      unc2    n_dis2  distance2       md2      sim2
8  0.04463  0.000999  0.049703   0.099406  0.049703  0.950297

[1 rows x 22 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
9    0.825002  0.401998  0.598002  ...   0.598002  0.824178  0.174823
10   1.356126  0.300176  0.699824  ...   1.297826  0.677724  0.321776
11   2.073053  0.351715  0.648285  ...   1.946111  0.690787  0.308879

        unc1      bel2      dis2      unc2    n_dis2  distance2       md2
9   0.000999  0.597405  0.401596  0.000999  0.160353   0.320706  0.160353
10  0.000500  0.648589  0.350911  0.000500  0.020602   0.041203  0.090477
11  0.000333  0.648488  0.351179  0.000333  0.029911   0.059821  0.070288

[3 rows x 21 columns]
sim
0.8396471717169353
sim
0.9095227413486097
sim
0.9297116547519969
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1  \
9    0.825002  0.401998  0.598002  ...  0.824178  0.174823  0.000999
10   1.356126  0.300176  0.699824  ...  0.677724  0.321776  0.000500
11   2.073053  0.351715  0.648285  ...  0.690787  0.308879  0.000333

        bel2      dis2      unc2    n_dis2  distance2       md2      sim2
9   0.597405  0.401596  0.000999  0.160353   0.320706  0.160353  0.839647
10  0.648589  0.350911  0.000500  0.020602   0.041203  0.090477  0.909523
11  0.648488  0.351179  0.000333  0.029911   0.059821  0.070288  0.929712

[3 rows x 22 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
12   0.708824  0.301610  0.698390  ...   0.698390  0.708115  0.290886
13   1.300425  0.048182  0.951818  ...   1.650208  0.649887  0.349613

        unc1      bel2      dis2      unc2    n_dis2  distance2       md2
12  0.000999  0.697692  0.301309  0.000999  0.007370   0.014741  0.007370
13  0.000500  0.824692  0.174809  0.000500  0.123605   0.247210  0.065488

[2 rows x 21 columns]
sim
0.9926296552141786
sim
0.9345122479466441
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1  \
12   0.708824  0.301610  0.698390  ...  0.708115  0.290886  0.000999
13   1.300425  0.048182  0.951818  ...  0.649887  0.349613  0.000500

        bel2      dis2      unc2    n_dis2  distance2       md2      sim2
12  0.697692  0.301309  0.000999  0.007370   0.014741  0.007370  0.992630
13  0.824692  0.174809  0.000500  0.123605   0.247210  0.065488  0.934512

[2 rows x 22 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat     bel1      dis1  \
14   0.643573  0.418917  0.581083  ...   0.581083  0.64293  0.356071

        unc1      bel2      dis2      unc2    n_dis2  distance2       md2
14  0.000999  0.580503  0.418498  0.000999  0.044143   0.088286  0.044143

[1 rows x 21 columns]
sim
0.9558569617261187
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...     bel1      dis1      unc1      bel2  \
14   0.643573  0.418917  0.581083  ...  0.64293  0.356071  0.000999  0.580503

        dis2      unc2    n_dis2  distance2       md2      sim2
14  0.418498  0.000999  0.044143   0.088286  0.044143  0.955857

[1 rows x 22 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...  U2cum_sat      bel1      dis1  \
15   0.759182  0.120341  0.879659  ...   0.879659  0.758423  0.240578

        unc1     bel2      dis2      unc2    n_dis2  distance2       md2
15  0.000999  0.87878  0.120221  0.000999  0.085105    0.17021  0.085105

[1 rows x 21 columns]
sim
0.914895033641629
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1     bel2  \
15   0.759182  0.120341  0.879659  ...  0.758423  0.240578  0.000999  0.87878

        dis2      unc2    n_dis2  distance2       md2      sim2
15  0.120221  0.000999  0.085105    0.17021  0.085105  0.914895

[1 rows x 22 columns]

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,...,bel1,dis1,unc1,bel2,dis2,unc2,n_dis2,distance2,md2,sim2
0,102.0,100.0,0.632893,0.776104,0.183553,0.816447,0.183553,0.816447,0.111948,0.888052,...,0.815631,0.183370,0.000999,0.887165,0.111836,0.000999,0.050582,0.101164,0.050582,0.949418
1,102.0,100.0,0.728110,0.922935,0.135945,0.864055,0.319499,1.680501,0.038532,0.961468,...,0.839831,0.159669,0.000500,0.924298,0.075203,0.000500,0.059727,0.119454,0.055155,0.944845
2,103.0,100.0,0.103090,0.380916,0.448455,0.551545,0.448455,0.551545,0.309542,0.690458,...,0.550994,0.448007,0.000999,0.689768,0.309233,0.000999,0.098128,0.196256,0.098128,0.901872
3,103.0,100.0,0.842354,0.112999,0.078823,0.921177,0.527278,1.472722,0.443500,0.556500,...,0.735993,0.263507,0.000500,0.623167,0.376333,0.000500,0.079780,0.159560,0.088954,0.911046
4,103.0,100.0,0.147114,0.828007,0.426443,0.573557,0.953721,2.046279,0.085996,0.914004,...,0.681866,0.317801,0.000333,0.720080,0.279586,0.000333,0.027022,0.054044,0.068310,0.931690
5,103.0,101.0,0.360552,0.941061,0.319724,0.680276,0.319724,0.680276,0.029470,0.970530,...,0.679596,0.319405,0.000999,0.969561,0.029440,0.000999,0.205036,0.410072,0.205036,0.794964
6,103.0,101.0,0.213923,0.688690,0.393039,0.606961,0.712763,1.287237,0.155655,0.844345,...,0.643297,0.356203,0.000500,0.906984,0.092516,0.000500,0.186455,0.372910,0.195746,0.804254
7,103.0,101.0,0.213516,0.100559,0.393242,0.606758,1.106005,1.893995,0.449720,0.550280,...,0.631121,0.368545,0.000333,0.788122,0.211544,0.000333,0.111016,0.222033,0.167503,0.832497
8,103.0,102.0,0.769929,0.910651,0.115036,0.884964,0.115036,0.884964,0.044675,0.955325,...,0.884080,0.114921,0.000999,0.954371,0.044630,0.000999,0.049703,0.099406,0.049703,0.950297
9,104.0,100.0,0.650004,0.196004,0.174998,0.825002,0.174998,0.825002,0.401998,0.598002,...,0.824178,0.174823,0.000999,0.597405,0.401596,0.000999,0.160353,0.320706,0.160353,0.839647
10,104.0,100.0,0.062248,0.399649,0.468876,0.531124,0.643874,1.356126,0.300176,0.699824,...,0.677724,0.321776,0.000500,0.648589,0.350911,0.000500,0.020602,0.041203,0.090477,0.909523
11,104.0,100.0,0.433854,0.296570,0.283073,0.716927,0.926947,2.073053,0.351715,0.648285,...,0.690787,0.308879,0.000333,0.648488,0.351179,0.000333,0.029911,0.059821,0.070288,0.929712
12,104.0,101.0,0.417647,0.396780,0.291176,0.708824,0.291176,0.708824,0.301610,0.698390,...,0.708115,0.290886,0.000999,0.697692,0.301309,0.000999,0.007370,0.014741,0.007370,0.992630
13,104.0,101.0,0.183202,0.903636,0.408399,0.591601,0.699575,1.300425,0.048182,0.951818,...,0.649887,0.349613,0.000500,0.824692,0.174809,0.000500,0.123605,0.247210,0.065488,0.934512
14,104.0,102.0,0.287147,0.162167,0.356427,0.643573,0.356427,0.643573,0.418917,0.581083,...,0.642930,0.356071,0.000999,0.580503,0.418498,0.000999,0.044143,0.088286,0.044143,0.955857
15,104.0,103.0,0.518363,0.759317,0.240818,0.759182,0.240818,0.759182,0.120341,0.879659,...,0.758423,0.240578,0.000999,0.878780,0.120221,0.000999,0.085105,0.170210,0.085105,0.914895

In [114]:
dfwithsim

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,...,bel1,dis1,unc1,bel2,dis2,unc2,n_dis2,distance2,md2,sim2
0,102.0,100.0,0.632893,0.776104,0.183553,0.816447,0.183553,0.816447,0.111948,0.888052,...,0.815631,0.183370,0.000999,0.887165,0.111836,0.000999,0.050582,0.101164,0.050582,0.949418
1,102.0,100.0,0.728110,0.922935,0.135945,0.864055,0.319499,1.680501,0.038532,0.961468,...,0.839831,0.159669,0.000500,0.924298,0.075203,0.000500,0.059727,0.119454,0.055155,0.944845
2,103.0,100.0,0.103090,0.380916,0.448455,0.551545,0.448455,0.551545,0.309542,0.690458,...,0.550994,0.448007,0.000999,0.689768,0.309233,0.000999,0.098128,0.196256,0.098128,0.901872
3,103.0,100.0,0.842354,0.112999,0.078823,0.921177,0.527278,1.472722,0.443500,0.556500,...,0.735993,0.263507,0.000500,0.623167,0.376333,0.000500,0.079780,0.159560,0.088954,0.911046
4,103.0,100.0,0.147114,0.828007,0.426443,0.573557,0.953721,2.046279,0.085996,0.914004,...,0.681866,0.317801,0.000333,0.720080,0.279586,0.000333,0.027022,0.054044,0.068310,0.931690
5,103.0,101.0,0.360552,0.941061,0.319724,0.680276,0.319724,0.680276,0.029470,0.970530,...,0.679596,0.319405,0.000999,0.969561,0.029440,0.000999,0.205036,0.410072,0.205036,0.794964
6,103.0,101.0,0.213923,0.688690,0.393039,0.606961,0.712763,1.287237,0.155655,0.844345,...,0.643297,0.356203,0.000500,0.906984,0.092516,0.000500,0.186455,0.372910,0.195746,0.804254
7,103.0,101.0,0.213516,0.100559,0.393242,0.606758,1.106005,1.893995,0.449720,0.550280,...,0.631121,0.368545,0.000333,0.788122,0.211544,0.000333,0.111016,0.222033,0.167503,0.832497
8,103.0,102.0,0.769929,0.910651,0.115036,0.884964,0.115036,0.884964,0.044675,0.955325,...,0.884080,0.114921,0.000999,0.954371,0.044630,0.000999,0.049703,0.099406,0.049703,0.950297
9,104.0,100.0,0.650004,0.196004,0.174998,0.825002,0.174998,0.825002,0.401998,0.598002,...,0.824178,0.174823,0.000999,0.597405,0.401596,0.000999,0.160353,0.320706,0.160353,0.839647
10,104.0,100.0,0.062248,0.399649,0.468876,0.531124,0.643874,1.356126,0.300176,0.699824,...,0.677724,0.321776,0.000500,0.648589,0.350911,0.000500,0.020602,0.041203,0.090477,0.909523
11,104.0,100.0,0.433854,0.296570,0.283073,0.716927,0.926947,2.073053,0.351715,0.648285,...,0.690787,0.308879,0.000333,0.648488,0.351179,0.000333,0.029911,0.059821,0.070288,0.929712
12,104.0,101.0,0.417647,0.396780,0.291176,0.708824,0.291176,0.708824,0.301610,0.698390,...,0.708115,0.290886,0.000999,0.697692,0.301309,0.000999,0.007370,0.014741,0.007370,0.992630
13,104.0,101.0,0.183202,0.903636,0.408399,0.591601,0.699575,1.300425,0.048182,0.951818,...,0.649887,0.349613,0.000500,0.824692,0.174809,0.000500,0.123605,0.247210,0.065488,0.934512
14,104.0,102.0,0.287147,0.162167,0.356427,0.643573,0.356427,0.643573,0.418917,0.581083,...,0.642930,0.356071,0.000999,0.580503,0.418498,0.000999,0.044143,0.088286,0.044143,0.955857
15,104.0,103.0,0.518363,0.759317,0.240818,0.759182,0.240818,0.759182,0.120341,0.879659,...,0.758423,0.240578,0.000999,0.878780,0.120221,0.000999,0.085105,0.170210,0.085105,0.914895

In [115]:
dfwithsim_groupby = dfwithsim.groupby(['userID1', 'userID2'])

In [116]:
def honesty(df, user=2):
    honDF = pd.DataFrame()
    for k, af in df:
        print(af)
        hon_li = []
        cum_cumsat = 0
        cum_cumdis = 0
        for index, row in af.iterrows():
            hon = 0
            cum_cumsat += row['U'+str(user)+ 'cum_sat']
            cum_cumdis += row['U'+str(user)+ 'cum_dis']
            hon = cum_cumsat / (cum_cumsat + cum_cumdis)
            print('hon')
            print(hon)
            hon_li.append(hon)

        af['honesty'+str(user)] = hon_li
        print(af)
        honDF = honDF.append(af, ignore_index = True)
    return honDF

In [117]:
hon_df = honesty(dfwithsim_groupby)
# honesty(dfwithsim_groupby)

   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1      bel2  \
0   0.816447  0.111948  0.888052  ...  0.815631  0.183370  0.000999  0.887165
1   1.680501  0.038532  0.961468  ...  0.839831  0.159669  0.000500  0.924298

       dis2      unc2    n_dis2  distance2       md2      sim2
0  0.111836  0.000999  0.050582   0.101164  0.050582  0.949418
1  0.075203  0.000500  0.059727   0.119454  0.055155  0.944845

[2 rows x 22 columns]
hon
0.888052047365268
hon
0.9125239194968953
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2      dis2  \
0   0.816447  0.111948  0.888052  ...  0.183370  0.000999  0.887165  0.111836
1   1.680501  0.038532  0.961468  ...  0.159669  0.000500  0.924298  0.075203

       unc2    n_dis2  distance2       md2      sim2  honesty2
0  0.000999  0.050582   0.101164  0.050582  0.949418  0.888052
1  0.000500  0.059727   0.119454  0.055155  0.944845  0.912524

[2 rows x 23 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1      bel2  \
2   0.551545  0.309542  0.690458  ...  0.550994  0.448007  0.000999  0.689768
3   1.472722  0.443500  0.556500  ...  0.735993  0.263507  0.000500  0.623167
4   2.046279  0.085996  0.914004  ...  0.681866  0.317801  0.000333  0.720080

       dis2      unc2    n_dis2  distance2       md2      sim2
2  0.309233  0.000999  0.098128   0.196256  0.098128  0.901872
3  0.376333  0.000500  0.079780   0.159560  0.088954  0.911046
4  0.279586  0.000333  0.027022   0.054044  0.068310  0.931690

[3 rows x 22 columns]
hon
0.6904578732174627
hon
0.6458050946882798
hon
0.6830627135455173
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2      dis2  \
2   0.551545  0.309542  0.690458  ...  0.448007  0.000999  0.689768  0.309233
3   1.472722  0.443500  0.556500  ...  0.263507  0.000500  0.623167  0.376333
4   2.046279  0.085996  0.914004  ...  0.317801  0.000333  0.720080  0.279586

       unc2    n_dis2  distance2       md2      sim2  honesty2
2  0.000999  0.098128   0.196256  0.098128  0.901872  0.690458
3  0.000500  0.079780   0.159560  0.088954  0.911046  0.645805
4  0.000333  0.027022   0.054044  0.068310  0.931690  0.683063

[3 rows x 23 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1      bel2  \
5   0.680276  0.029470  0.970530  ...  0.679596  0.319405  0.000999  0.969561
6   1.287237  0.155655  0.844345  ...  0.643297  0.356203  0.000500  0.906984
7   1.893995  0.449720  0.550280  ...  0.631121  0.368545  0.000333  0.788122

       dis2      unc2    n_dis2  distance2       md2      sim2
5  0.029440  0.000999  0.205036   0.410072  0.205036  0.794964
6  0.092516  0.000500  0.186455   0.372910  0.195746  0.804254
7  0.211544  0.000333  0.111016   0.222033  0.167503  0.832497

[3 rows x 22 columns]
hon
0.9705303974051881
hon
0.9284686507242093
hon
0.8584268595084531
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2      dis2  \
5   0.680276  0.029470  0.970530  ...  0.319405  0.000999  0.969561  0.029440
6   1.287237  0.155655  0.844345  ...  0.356203  0.000500  0.906984  0.092516
7   1.893995  0.449720  0.550280  ...  0.368545  0.000333  0.788122  0.211544

       unc2    n_dis2  distance2       md2      sim2  honesty2
5  0.000999  0.205036   0.410072  0.205036  0.794964  0.970530
6  0.000500  0.186455   0.372910  0.195746  0.804254  0.928469
7  0.000333  0.111016   0.222033  0.167503  0.832497  0.858427

[3 rows x 23 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...     bel1      dis1      unc1      bel2  \
8   0.884964  0.044675  0.955325  ...  0.88408  0.114921  0.000999  0.954371

      dis2      unc2    n_dis2  distance2       md2      sim2
8  0.04463  0.000999  0.049703   0.099406  0.049703  0.950297

[1 rows x 22 columns]
hon
0.9553254452027857
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2     dis2  \
8   0.884964  0.044675  0.955325  ...  0.114921  0.000999  0.954371  0.04463

       unc2    n_dis2  distance2       md2      sim2  honesty2
8  0.000999  0.049703   0.099406  0.049703  0.950297  0.955325

[1 rows x 23 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1  \
9    0.825002  0.401998  0.598002  ...  0.824178  0.174823  0.000999
10   1.356126  0.300176  0.699824  ...  0.677724  0.321776  0.000500
11   2.073053  0.351715  0.648285  ...  0.690787  0.308879  0.000333

        bel2      dis2      unc2    n_dis2  distance2       md2      sim2
9   0.597405  0.401596  0.000999  0.160353   0.320706  0.160353  0.839647
10  0.648589  0.350911  0.000500  0.020602   0.041203  0.090477  0.909523
11  0.648488  0.351179  0.000333  0.029911   0.059821  0.070288  0.929712

[3 rows x 22 columns]
hon
0.5980020783118072
hon
0.6319428505643067
hon
0.6403233141064946
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2  \
9    0.825002  0.401998  0.598002  ...  0.174823  0.000999  0.597405
10   1.356126  0.300176  0.699824  ...  0.321776  0.000500  0.648589
11   2.073053  0.351715  0.648285  ...  0.308879  0.000333  0.648488

        dis2      unc2    n_dis2  distance2       md2      sim2  honesty2
9   0.401596  0.000999  0.160353   0.320706  0.160353  0.839647  0.598002
10  0.350911  0.000500  0.020602   0.041203  0.090477  0.909523  0.631943
11  0.351179  0.000333  0.029911   0.059821  0.070288  0.929712  0.640323

[3 rows x 23 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1  \
12   0.708824  0.301610  0.698390  ...  0.708115  0.290886  0.000999
13   1.300425  0.048182  0.951818  ...  0.649887  0.349613  0.000500

        bel2      dis2      unc2    n_dis2  distance2       md2      sim2
12  0.697692  0.301309  0.000999  0.007370   0.014741  0.007370  0.992630
13  0.824692  0.174809  0.000500  0.123605   0.247210  0.065488  0.934512

[2 rows x 22 columns]
hon
0.6983899063408705
hon
0.7828658817287405
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2  \
12   0.708824  0.301610  0.698390  ...  0.290886  0.000999  0.697692
13   1.300425  0.048182  0.951818  ...  0.349613  0.000500  0.824692

        dis2      unc2    n_dis2  distance2       md2      sim2  honesty2
12  0.301309  0.000999  0.007370   0.014741  0.007370  0.992630  0.698390
13  0.174809  0.000500  0.123605   0.247210  0.065488  0.934512  0.782866

[2 rows x 23 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...     bel1      dis1      unc1      bel2  \
14   0.643573  0.418917  0.581083  ...  0.64293  0.356071  0.000999  0.580503

        dis2      unc2    n_dis2  distance2       md2      sim2
14  0.418498  0.000999  0.044143   0.088286  0.044143  0.955857

[1 rows x 22 columns]
hon
0.5810833166691547
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2  \
14   0.643573  0.418917  0.581083  ...  0.356071  0.000999  0.580503

        dis2      unc2    n_dis2  distance2       md2      sim2  honesty2
14  0.418498  0.000999  0.044143   0.088286  0.044143  0.955857  0.581083

[1 rows x 23 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      bel1      dis1      unc1     bel2  \
15   0.759182  0.120341  0.879659  ...  0.758423  0.240578  0.000999  0.87878

        dis2      unc2    n_dis2  distance2       md2      sim2
15  0.120221  0.000999  0.085105    0.17021  0.085105  0.914895

[1 rows x 22 columns]
hon
0.8796586312114627
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1     bel2      dis2  \
15   0.759182  0.120341  0.879659  ...  0.240578  0.000999  0.87878  0.120221

        unc2    n_dis2  distance2       md2      sim2  honesty2
15  0.000999  0.085105    0.17021  0.085105  0.914895  0.879659

[1 rows x 23 columns]

In [118]:
hon_df

,userID1,userID2,rating1,rating2,User1dis,User1sat,U1cum_dis,U1cum_sat,User2dis,User2sat,...,dis1,unc1,bel2,dis2,unc2,n_dis2,distance2,md2,sim2,honesty2
0,102.0,100.0,0.632893,0.776104,0.183553,0.816447,0.183553,0.816447,0.111948,0.888052,...,0.183370,0.000999,0.887165,0.111836,0.000999,0.050582,0.101164,0.050582,0.949418,0.888052
1,102.0,100.0,0.728110,0.922935,0.135945,0.864055,0.319499,1.680501,0.038532,0.961468,...,0.159669,0.000500,0.924298,0.075203,0.000500,0.059727,0.119454,0.055155,0.944845,0.912524
2,103.0,100.0,0.103090,0.380916,0.448455,0.551545,0.448455,0.551545,0.309542,0.690458,...,0.448007,0.000999,0.689768,0.309233,0.000999,0.098128,0.196256,0.098128,0.901872,0.690458
3,103.0,100.0,0.842354,0.112999,0.078823,0.921177,0.527278,1.472722,0.443500,0.556500,...,0.263507,0.000500,0.623167,0.376333,0.000500,0.079780,0.159560,0.088954,0.911046,0.645805
4,103.0,100.0,0.147114,0.828007,0.426443,0.573557,0.953721,2.046279,0.085996,0.914004,...,0.317801,0.000333,0.720080,0.279586,0.000333,0.027022,0.054044,0.068310,0.931690,0.683063
5,103.0,101.0,0.360552,0.941061,0.319724,0.680276,0.319724,0.680276,0.029470,0.970530,...,0.319405,0.000999,0.969561,0.029440,0.000999,0.205036,0.410072,0.205036,0.794964,0.970530
6,103.0,101.0,0.213923,0.688690,0.393039,0.606961,0.712763,1.287237,0.155655,0.844345,...,0.356203,0.000500,0.906984,0.092516,0.000500,0.186455,0.372910,0.195746,0.804254,0.928469
7,103.0,101.0,0.213516,0.100559,0.393242,0.606758,1.106005,1.893995,0.449720,0.550280,...,0.368545,0.000333,0.788122,0.211544,0.000333,0.111016,0.222033,0.167503,0.832497,0.858427
8,103.0,102.0,0.769929,0.910651,0.115036,0.884964,0.115036,0.884964,0.044675,0.955325,...,0.114921,0.000999,0.954371,0.044630,0.000999,0.049703,0.099406,0.049703,0.950297,0.955325
9,104.0,100.0,0.650004,0.196004,0.174998,0.825002,0.174998,0.825002,0.401998,0.598002,...,0.174823,0.000999,0.597405,0.401596,0.000999,0.160353,0.320706,0.160353,0.839647,0.598002
10,104.0,100.0,0.062248,0.399649,0.468876,0.531124,0.643874,1.356126,0.300176,0.699824,...,0.321776,0.000500,0.648589,0.350911,0.000500,0.020602,0.041203,0.090477,0.909523,0.631943
11,104.0,100.0,0.433854,0.296570,0.283073,0.716927,0.926947,2.073053,0.351715,0.648285,...,0.308879,0.000333,0.648488,0.351179,0.000333,0.029911,0.059821,0.070288,0.929712,0.640323
12,104.0,101.0,0.417647,0.396780,0.291176,0.708824,0.291176,0.708824,0.301610,0.698390,...,0.290886,0.000999,0.697692,0.301309,0.000999,0.007370,0.014741,0.007370,0.992630,0.698390
13,104.0,101.0,0.183202,0.903636,0.408399,0.591601,0.699575,1.300425,0.048182,0.951818,...,0.349613,0.000500,0.824692,0.174809,0.000500,0.123605,0.247210,0.065488,0.934512,0.782866
14,104.0,102.0,0.287147,0.162167,0.356427,0.643573,0.356427,0.643573,0.418917,0.581083,...,0.356071,0.000999,0.580503,0.418498,0.000999,0.044143,0.088286,0.044143,0.955857,0.581083
15,104.0,103.0,0.518363,0.759317,0.240818,0.759182,0.240818,0.759182,0.120341,0.879659,...,0.240578,0.000999,0.878780,0.120221,0.000999,0.085105,0.170210,0.085105,0.914895,0.879659

In [119]:
#TODO update the rep formula
def reputation(df, user=2, alpha=0.2):
    repDF = pd.DataFrame()
    for k, af in df:
        print(af)
        rep_li = []
        cum_sim = 0
        cum_hon = 0
        count = 0
        for index, row in af.iterrows():
            rep = 0
            count += 1
            cum_sim += row['sim'+str(user)]
            cum_hon += row['honesty'+str(user)]
#             rep = alpha * 
            rep =  ((alpha * cum_sim ) + ((1-alpha) * cum_hon )) / count
            print('rep')
            print(rep)
            rep_li.append(rep)

        af['repu'+str(user)] = rep_li
        print(af)
        repDF = repDF.append(af, ignore_index = True)   
    return repDF

In [120]:
hon_df_groupby = hon_df.groupby(['userID1', 'userID2'])

In [121]:
repDF = reputation(hon_df_groupby)

   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2      dis2  \
0   0.816447  0.111948  0.888052  ...  0.183370  0.000999  0.887165  0.111836
1   1.680501  0.038532  0.961468  ...  0.159669  0.000500  0.924298  0.075203

       unc2    n_dis2  distance2       md2      sim2  honesty2
0  0.000999  0.050582   0.101164  0.050582  0.949418  0.888052
1  0.000500  0.059727   0.119454  0.055155  0.944845  0.912524

[2 rows x 23 columns]
rep
0.9003252043796992
rep
0.9096567057188031
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2      unc2  \
0   0.816447  0.111948  0.888052  ...  0.000999  0.887165  0.111836  0.000999
1   1.680501  0.038532  0.961468  ...  0.000500  0.924298  0.075203  0.000500

     n_dis2  distance2       md2      sim2  honesty2     repu2
0  0.050582   0.101164  0.050582  0.949418  0.888052  0.900325
1  0.059727   0.119454  0.055155  0.944845  0.912524  0.909657

[2 rows x 24 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2      dis2  \
2   0.551545  0.309542  0.690458  ...  0.448007  0.000999  0.689768  0.309233
3   1.472722  0.443500  0.556500  ...  0.263507  0.000500  0.623167  0.376333
4   2.046279  0.085996  0.914004  ...  0.317801  0.000333  0.720080  0.279586

       unc2    n_dis2  distance2       md2      sim2  honesty2
2  0.000999  0.098128   0.196256  0.098128  0.901872  0.690458
3  0.000500  0.079780   0.159560  0.088954  0.911046  0.645805
4  0.000333  0.027022   0.054044  0.068310  0.931690  0.683063

[3 rows x 23 columns]
rep
0.732740649737852
rep
0.7157969539723459
rep
0.7214606922458043
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2      unc2  \
2   0.551545  0.309542  0.690458  ...  0.000999  0.689768  0.309233  0.000999
3   1.472722  0.443500  0.556500  ...  0.000500  0.623167  0.376333  0.000500
4   2.046279  0.085996  0.914004  ...  0.000333  0.720080  0.279586  0.000333

     n_dis2  distance2       md2      sim2  honesty2     repu2
2  0.098128   0.196256  0.098128  0.901872  0.690458  0.732741
3  0.079780   0.159560  0.088954  0.911046  0.645805  0.715797
4  0.027022   0.054044  0.068310  0.931690  0.683063  0.721461

[3 rows x 24 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2      dis2  \
5   0.680276  0.029470  0.970530  ...  0.319405  0.000999  0.969561  0.029440
6   1.287237  0.155655  0.844345  ...  0.356203  0.000500  0.906984  0.092516
7   1.893995  0.449720  0.550280  ...  0.368545  0.000333  0.788122  0.211544

       unc2    n_dis2  distance2       md2      sim2  honesty2
5  0.000999  0.205036   0.410072  0.205036  0.794964  0.970530
6  0.000500  0.186455   0.372910  0.195746  0.804254  0.928469
7  0.000333  0.111016   0.222033  0.167503  0.832497  0.858427

[3 rows x 23 columns]
rep
0.9354171301004806
rep
0.9195214746849176
rep
0.8974279787196927
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2      unc2  \
5   0.680276  0.029470  0.970530  ...  0.000999  0.969561  0.029440  0.000999
6   1.287237  0.155655  0.844345  ...  0.000500  0.906984  0.092516  0.000500
7   1.893995  0.449720  0.550280  ...  0.000333  0.788122  0.211544  0.000333

     n_dis2  distance2       md2      sim2  honesty2     repu2
5  0.205036   0.410072  0.205036  0.794964  0.970530  0.935417
6  0.186455   0.372910  0.195746  0.804254  0.928469  0.919521
7  0.111016   0.222033  0.167503  0.832497  0.858427  0.897428

[3 rows x 24 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2     dis2  \
8   0.884964  0.044675  0.955325  ...  0.114921  0.000999  0.954371  0.04463

       unc2    n_dis2  distance2       md2      sim2  honesty2
8  0.000999  0.049703   0.099406  0.049703  0.950297  0.955325

[1 rows x 23 columns]
rep
0.9543197271665973
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2     dis2      unc2  \
8   0.884964  0.044675  0.955325  ...  0.000999  0.954371  0.04463  0.000999

     n_dis2  distance2       md2      sim2  honesty2    repu2
8  0.049703   0.099406  0.049703  0.950297  0.955325  0.95432

[1 rows x 24 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2  \
9    0.825002  0.401998  0.598002  ...  0.174823  0.000999  0.597405
10   1.356126  0.300176  0.699824  ...  0.321776  0.000500  0.648589
11   2.073053  0.351715  0.648285  ...  0.308879  0.000333  0.648488

        dis2      unc2    n_dis2  distance2       md2      sim2  honesty2
9   0.401596  0.000999  0.160353   0.320706  0.160353  0.839647  0.598002
10  0.350911  0.000500  0.020602   0.041203  0.090477  0.909523  0.631943
11  0.351179  0.000333  0.029911   0.059821  0.070288  0.929712  0.640323

[3 rows x 23 columns]
rep
0.6463310969928329
rep
0.6668949628570001
rep
0.6773303026498652
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2  \
9    0.825002  0.401998  0.598002  ...  0.000999  0.597405  0.401596
10   1.356126  0.300176  0.699824  ...  0.000500  0.648589  0.350911
11   2.073053  0.351715  0.648285  ...  0.000333  0.648488  0.351179

        unc2    n_dis2  distance2       md2      sim2  honesty2     repu2
9   0.000999  0.160353   0.320706  0.160353  0.839647  0.598002  0.646331
10  0.000500  0.020602   0.041203  0.090477  0.909523  0.631943  0.666895
11  0.000333  0.029911   0.059821  0.070288  0.929712  0.640323  0.677330

[3 rows x 24 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2  \
12   0.708824  0.301610  0.698390  ...  0.290886  0.000999  0.697692
13   1.300425  0.048182  0.951818  ...  0.349613  0.000500  0.824692

        dis2      unc2    n_dis2  distance2       md2      sim2  honesty2
12  0.301309  0.000999  0.007370   0.014741  0.007370  0.992630  0.698390
13  0.174809  0.000500  0.123605   0.247210  0.065488  0.934512  0.782866

[2 rows x 23 columns]
rep
0.7572378561155322
rep
0.7852165055439266
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2  \
12   0.708824  0.301610  0.698390  ...  0.000999  0.697692  0.301309
13   1.300425  0.048182  0.951818  ...  0.000500  0.824692  0.174809

        unc2    n_dis2  distance2       md2      sim2  honesty2     repu2
12  0.000999  0.007370   0.014741  0.007370  0.992630  0.698390  0.757238
13  0.000500  0.123605   0.247210  0.065488  0.934512  0.782866  0.785217

[2 rows x 24 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1      bel2  \
14   0.643573  0.418917  0.581083  ...  0.356071  0.000999  0.580503

        dis2      unc2    n_dis2  distance2       md2      sim2  honesty2
14  0.418498  0.000999  0.044143   0.088286  0.044143  0.955857  0.581083

[1 rows x 23 columns]
rep
0.6560380456805475
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2  \
14   0.643573  0.418917  0.581083  ...  0.000999  0.580503  0.418498

        unc2    n_dis2  distance2       md2      sim2  honesty2     repu2
14  0.000999  0.044143   0.088286  0.044143  0.955857  0.581083  0.656038

[1 rows x 24 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      dis1      unc1     bel2      dis2  \
15   0.759182  0.120341  0.879659  ...  0.240578  0.000999  0.87878  0.120221

        unc2    n_dis2  distance2       md2      sim2  honesty2
15  0.000999  0.085105    0.17021  0.085105  0.914895  0.879659

[1 rows x 23 columns]
rep
0.886705911697496
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      unc1     bel2      dis2      unc2  \
15   0.759182  0.120341  0.879659  ...  0.000999  0.87878  0.120221  0.000999

      n_dis2  distance2       md2      sim2  honesty2     repu2
15  0.085105    0.17021  0.085105  0.914895  0.879659  0.886706

[1 rows x 24 columns]

In [122]:
def init_trust(df, user=2, beta=0.5):
    iniTDF = pd.DataFrame()
    for k, af in df:
        print(af)
        ini_trust_li = []
        cum_repu = 0
        trust_propensity = random.uniform(0, 1)
        tp_li = []
        for index, row in af.iterrows():
            ini_trust = 0
            cum_repu = row['repu'+str(user)]
            ini_trust =  (beta * trust_propensity ) + ((1-beta) * cum_repu )
            print('ini_trust')
            print(ini_trust)
            ini_trust_li.append(ini_trust)
            tp_li.append(trust_propensity)

        af['init_T'+str(user)] = ini_trust_li
        af['tp'+str(user)] = tp_li
        print(af)
        iniTDF = iniTDF.append(af, ignore_index = True)   
    return iniTDF

In [123]:
repDF_groupby = repDF.groupby(['userID1', 'userID2'])

In [124]:
itDF = init_trust(repDF_groupby)

   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2      unc2  \
0   0.816447  0.111948  0.888052  ...  0.000999  0.887165  0.111836  0.000999
1   1.680501  0.038532  0.961468  ...  0.000500  0.924298  0.075203  0.000500

     n_dis2  distance2       md2      sim2  honesty2     repu2
0  0.050582   0.101164  0.050582  0.949418  0.888052  0.900325
1  0.059727   0.119454  0.055155  0.944845  0.912524  0.909657

[2 rows x 24 columns]
ini_trust
0.9430740742132802
ini_trust
0.9477398248828321
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
0   0.816447  0.111948  0.888052  ...  0.111836  0.000999  0.050582
1   1.680501  0.038532  0.961468  ...  0.075203  0.000500  0.059727

   distance2       md2      sim2  honesty2     repu2   init_T2       tp2
0   0.101164  0.050582  0.949418  0.888052  0.900325  0.943074  0.985823
1   0.119454  0.055155  0.944845  0.912524  0.909657  0.947740  0.985823

[2 rows x 26 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2      unc2  \
2   0.551545  0.309542  0.690458  ...  0.000999  0.689768  0.309233  0.000999
3   1.472722  0.443500  0.556500  ...  0.000500  0.623167  0.376333  0.000500
4   2.046279  0.085996  0.914004  ...  0.000333  0.720080  0.279586  0.000333

     n_dis2  distance2       md2      sim2  honesty2     repu2
2  0.098128   0.196256  0.098128  0.901872  0.690458  0.732741
3  0.079780   0.159560  0.088954  0.911046  0.645805  0.715797
4  0.027022   0.054044  0.068310  0.931690  0.683063  0.721461

[3 rows x 24 columns]
ini_trust
0.7670896270221627
ini_trust
0.7586177791394095
ini_trust
0.7614496482761388
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
2   0.551545  0.309542  0.690458  ...  0.309233  0.000999  0.098128
3   1.472722  0.443500  0.556500  ...  0.376333  0.000500  0.079780
4   2.046279  0.085996  0.914004  ...  0.279586  0.000333  0.027022

   distance2       md2      sim2  honesty2     repu2   init_T2       tp2
2   0.196256  0.098128  0.901872  0.690458  0.732741  0.767090  0.801439
3   0.159560  0.088954  0.911046  0.645805  0.715797  0.758618  0.801439
4   0.054044  0.068310  0.931690  0.683063  0.721461  0.761450  0.801439

[3 rows x 26 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2      unc2  \
5   0.680276  0.029470  0.970530  ...  0.000999  0.969561  0.029440  0.000999
6   1.287237  0.155655  0.844345  ...  0.000500  0.906984  0.092516  0.000500
7   1.893995  0.449720  0.550280  ...  0.000333  0.788122  0.211544  0.000333

     n_dis2  distance2       md2      sim2  honesty2     repu2
5  0.205036   0.410072  0.205036  0.794964  0.970530  0.935417
6  0.186455   0.372910  0.195746  0.804254  0.928469  0.919521
7  0.111016   0.222033  0.167503  0.832497  0.858427  0.897428

[3 rows x 24 columns]
ini_trust
0.6636745902141823
ini_trust
0.6557267625064008
ini_trust
0.6446800145237883
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
5   0.680276  0.029470  0.970530  ...  0.029440  0.000999  0.205036
6   1.287237  0.155655  0.844345  ...  0.092516  0.000500  0.186455
7   1.893995  0.449720  0.550280  ...  0.211544  0.000333  0.111016

   distance2       md2      sim2  honesty2     repu2   init_T2       tp2
5   0.410072  0.205036  0.794964  0.970530  0.935417  0.663675  0.391932
6   0.372910  0.195746  0.804254  0.928469  0.919521  0.655727  0.391932
7   0.222033  0.167503  0.832497  0.858427  0.897428  0.644680  0.391932

[3 rows x 26 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...      unc1      bel2     dis2      unc2  \
8   0.884964  0.044675  0.955325  ...  0.000999  0.954371  0.04463  0.000999

     n_dis2  distance2       md2      sim2  honesty2    repu2
8  0.049703   0.099406  0.049703  0.950297  0.955325  0.95432

[1 rows x 24 columns]
ini_trust
0.8211377384330292
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...     dis2      unc2    n_dis2  distance2  \
8   0.884964  0.044675  0.955325  ...  0.04463  0.000999  0.049703   0.099406

        md2      sim2  honesty2    repu2   init_T2       tp2
8  0.049703  0.950297  0.955325  0.95432  0.821138  0.687956

[1 rows x 26 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2  \
9    0.825002  0.401998  0.598002  ...  0.000999  0.597405  0.401596
10   1.356126  0.300176  0.699824  ...  0.000500  0.648589  0.350911
11   2.073053  0.351715  0.648285  ...  0.000333  0.648488  0.351179

        unc2    n_dis2  distance2       md2      sim2  honesty2     repu2
9   0.000999  0.160353   0.320706  0.160353  0.839647  0.598002  0.646331
10  0.000500  0.020602   0.041203  0.090477  0.909523  0.631943  0.666895
11  0.000333  0.029911   0.059821  0.070288  0.929712  0.640323  0.677330

[3 rows x 24 columns]
ini_trust
0.3494263437907778
ini_trust
0.35970827672286143
ini_trust
0.36492594661929395
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
9    0.825002  0.401998  0.598002  ...  0.401596  0.000999  0.160353
10   1.356126  0.300176  0.699824  ...  0.350911  0.000500  0.020602
11   2.073053  0.351715  0.648285  ...  0.351179  0.000333  0.029911

    distance2       md2      sim2  honesty2     repu2   init_T2       tp2
9    0.320706  0.160353  0.839647  0.598002  0.646331  0.349426  0.052522
10   0.041203  0.090477  0.909523  0.631943  0.666895  0.359708  0.052522
11   0.059821  0.070288  0.929712  0.640323  0.677330  0.364926  0.052522

[3 rows x 26 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2  \
12   0.708824  0.301610  0.698390  ...  0.000999  0.697692  0.301309
13   1.300425  0.048182  0.951818  ...  0.000500  0.824692  0.174809

        unc2    n_dis2  distance2       md2      sim2  honesty2     repu2
12  0.000999  0.007370   0.014741  0.007370  0.992630  0.698390  0.757238
13  0.000500  0.123605   0.247210  0.065488  0.934512  0.782866  0.785217

[2 rows x 24 columns]
ini_trust
0.5251347276439717
ini_trust
0.5391240523581691

    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
12   0.708824  0.301610  0.698390  ...  0.301309  0.000999  0.007370
13   1.300425  0.048182  0.951818  ...  0.174809  0.000500  0.123605

    distance2       md2      sim2  honesty2     repu2   init_T2       tp2
12   0.014741  0.007370  0.992630  0.698390  0.757238  0.525135  0.293032
13   0.247210  0.065488  0.934512  0.782866  0.785217  0.539124  0.293032

[2 rows x 26 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...      unc1      bel2      dis2  \
14   0.643573  0.418917  0.581083  ...  0.000999  0.580503  0.418498

        unc2    n_dis2  distance2       md2      sim2  honesty2     repu2
14  0.000999  0.044143   0.088286  0.044143  0.955857  0.581083  0.656038

[1 rows x 24 columns]
ini_trust
0.48797381066322604
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
14   0.643573  0.418917  0.581083  ...  0.418498  0.000999  0.044143

    distance2       md2      sim2  honesty2     repu2   init_T2      tp2
14   0.088286  0.044143  0.955857  0.581083  0.656038  0.487974  0.31991

[1 rows x 26 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      unc1     bel2      dis2      unc2  \
15   0.759182  0.120341  0.879659  ...  0.000999  0.87878  0.120221  0.000999

      n_dis2  distance2       md2      sim2  honesty2     repu2
15  0.085105    0.17021  0.085105  0.914895  0.879659  0.886706

[1 rows x 24 columns]
ini_trust
0.8381492279536312
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
15   0.759182  0.120341  0.879659  ...  0.120221  0.000999  0.085105

    distance2       md2      sim2  honesty2     repu2   init_T2       tp2
15    0.17021  0.085105  0.914895  0.879659  0.886706  0.838149  0.789593

[1 rows x 26 columns]

In [125]:
def trust_tDash(df, user=2, beta=0.5):
    tDtDF = pd.DataFrame()
    for k, af in df:
        print(af)
        trust_li = []
        trust_dash_li = []
        sum_test = []
        
        trust_propensity = random.uniform(0, 1)
        for index, row in af.iterrows():
            trust = 0
            trust_dash = 0
            sum_t = 0
            t = row['init_T'+str(user)]
            b = row['bel'+str(user)]
            d = row['dis'+str(user)]
            u = row['unc'+str(user)]
            trust = b + (t * u)
            trust_dash = d + ((1 - t) * u) 
            sum_t = trust + trust_dash
            print('sum_t')
            print(sum_t)
            trust_li.append(trust)
            trust_dash_li.append(trust_dash)
            sum_test.append(sum_t)

        af['T'+str(user)] = trust_li
        af['T_dash'+str(user)] = trust_dash_li
        af['sum_tdt'+str(user)] = sum_test
        print(af)
        tDtDF = tDtDF.append(af, ignore_index = True)   
    return tDtDF

In [126]:
itDF = itDF.groupby(['userID1', 'userID2'])

In [127]:
finDF = trust_tDash(itDF)

   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
0   0.816447  0.111948  0.888052  ...  0.111836  0.000999  0.050582
1   1.680501  0.038532  0.961468  ...  0.075203  0.000500  0.059727

   distance2       md2      sim2  honesty2     repu2   init_T2       tp2
0   0.101164  0.050582  0.949418  0.888052  0.900325  0.943074  0.985823
1   0.119454  0.055155  0.944845  0.912524  0.909657  0.947740  0.985823

[2 rows x 26 columns]
sum_t
1.0
sum_t
1.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
0    102.0    100.0  0.632893  0.776104  0.183553  0.816447   0.183553
1    102.0    100.0  0.728110  0.922935  0.135945  0.864055   0.319499

   U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
0   0.816447  0.111948  0.888052  ...   0.101164  0.050582  0.949418
1   1.680501  0.038532  0.961468  ...   0.119454  0.055155  0.944845

   honesty2     repu2   init_T2       tp2        T2   T_dash2  sum_tdt2
0  0.888052  0.900325  0.943074  0.985823  0.888107  0.111893       1.0
1  0.912524  0.909657  0.947740  0.985823  0.924771  0.075229       1.0

[2 rows x 29 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
2   0.551545  0.309542  0.690458  ...  0.309233  0.000999  0.098128
3   1.472722  0.443500  0.556500  ...  0.376333  0.000500  0.079780
4   2.046279  0.085996  0.914004  ...  0.279586  0.000333  0.027022

   distance2       md2      sim2  honesty2     repu2   init_T2       tp2
2   0.196256  0.098128  0.901872  0.690458  0.732741  0.767090  0.801439
3   0.159560  0.088954  0.911046  0.645805  0.715797  0.758618  0.801439
4   0.054044  0.068310  0.931690  0.683063  0.721461  0.761450  0.801439

[3 rows x 26 columns]
sum_t
1.0
sum_t
1.0
sum_t
1.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
2    103.0    100.0  0.103090  0.380916  0.448455  0.551545   0.448455
3    103.0    100.0  0.842354  0.112999  0.078823  0.921177   0.527278
4    103.0    100.0  0.147114  0.828007  0.426443  0.573557   0.953721

   U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
2   0.551545  0.309542  0.690458  ...   0.196256  0.098128  0.901872
3   1.472722  0.443500  0.556500  ...   0.159560  0.088954  0.911046
4   2.046279  0.085996  0.914004  ...   0.054044  0.068310  0.931690

   honesty2     repu2   init_T2       tp2        T2   T_dash2  sum_tdt2
2  0.690458  0.732741  0.767090  0.801439  0.690534  0.309466       1.0
3  0.645805  0.715797  0.758618  0.801439  0.623546  0.376454       1.0
4  0.683063  0.721461  0.761450  0.801439  0.720334  0.279666       1.0

[3 rows x 29 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
5   0.680276  0.029470  0.970530  ...  0.029440  0.000999  0.205036
6   1.287237  0.155655  0.844345  ...  0.092516  0.000500  0.186455
7   1.893995  0.449720  0.550280  ...  0.211544  0.000333  0.111016

   distance2       md2      sim2  honesty2     repu2   init_T2       tp2
5   0.410072  0.205036  0.794964  0.970530  0.935417  0.663675  0.391932
6   0.372910  0.195746  0.804254  0.928469  0.919521  0.655727  0.391932
7   0.222033  0.167503  0.832497  0.858427  0.897428  0.644680  0.391932

[3 rows x 26 columns]
sum_t
1.0000000000000002
sum_t
1.0000000000000002
sum_t
1.0
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
5    103.0    101.0  0.360552  0.941061  0.319724  0.680276   0.319724
6    103.0    101.0  0.213923  0.688690  0.393039  0.606961   0.712763
7    103.0    101.0  0.213516  0.100559  0.393242  0.606758   1.106005

   U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
5   0.680276  0.029470  0.970530  ...   0.410072  0.205036  0.794964
6   1.287237  0.155655  0.844345  ...   0.372910  0.195746  0.804254
7   1.893995  0.449720  0.550280  ...   0.222033  0.167503  0.832497

   honesty2     repu2   init_T2       tp2        T2   T_dash2  sum_tdt2
5  0.970530  0.935417  0.663675  0.391932  0.970224  0.029776       1.0
6  0.928469  0.919521  0.655727  0.391932  0.907312  0.092688       1.0
7  0.858427  0.897428  0.644680  0.391932  0.788337  0.211663       1.0

[3 rows x 29 columns]
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...     dis2      unc2    n_dis2  distance2  \
8   0.884964  0.044675  0.955325  ...  0.04463  0.000999  0.049703   0.099406

        md2      sim2  honesty2    repu2   init_T2       tp2
8  0.049703  0.950297  0.955325  0.95432  0.821138  0.687956

[1 rows x 26 columns]
sum_t
1.0000000000000002
   userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
8    103.0    102.0  0.769929  0.910651  0.115036  0.884964   0.115036

   U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
8   0.884964  0.044675  0.955325  ...   0.099406  0.049703  0.950297

   honesty2    repu2   init_T2       tp2        T2   T_dash2  sum_tdt2
8  0.955325  0.95432  0.821138  0.687956  0.955191  0.044809       1.0

[1 rows x 29 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
9    0.825002  0.401998  0.598002  ...  0.401596  0.000999  0.160353
10   1.356126  0.300176  0.699824  ...  0.350911  0.000500  0.020602
11   2.073053  0.351715  0.648285  ...  0.351179  0.000333  0.029911

    distance2       md2      sim2  honesty2     repu2   init_T2       tp2
9    0.320706  0.160353  0.839647  0.598002  0.646331  0.349426  0.052522
10   0.041203  0.090477  0.909523  0.631943  0.666895  0.359708  0.052522
11   0.059821  0.070288  0.929712  0.640323  0.677330  0.364926  0.052522

[3 rows x 26 columns]
sum_t
1.0
sum_t
1.0
sum_t
1.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
9     104.0    100.0  0.650004  0.196004  0.174998  0.825002   0.174998
10    104.0    100.0  0.062248  0.399649  0.468876  0.531124   0.643874
11    104.0    100.0  0.433854  0.296570  0.283073  0.716927   0.926947

    U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
9    0.825002  0.401998  0.598002  ...   0.320706  0.160353  0.839647
10   1.356126  0.300176  0.699824  ...   0.041203  0.090477  0.909523
11   2.073053  0.351715  0.648285  ...   0.059821  0.070288  0.929712

    honesty2     repu2   init_T2       tp2        T2   T_dash2  sum_tdt2
9   0.598002  0.646331  0.349426  0.052522  0.597754  0.402246       1.0
10  0.631943  0.666895  0.359708  0.052522  0.648769  0.351231       1.0
11  0.640323  0.677330  0.364926  0.052522  0.648609  0.351391       1.0

[3 rows x 29 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
12   0.708824  0.301610  0.698390  ...  0.301309  0.000999  0.007370
13   1.300425  0.048182  0.951818  ...  0.174809  0.000500  0.123605

    distance2       md2      sim2  honesty2     repu2   init_T2       tp2
12   0.014741  0.007370  0.992630  0.698390  0.757238  0.525135  0.293032
13   0.247210  0.065488  0.934512  0.782866  0.785217  0.539124  0.293032

[2 rows x 26 columns]
sum_t
1.0000000000000002
sum_t
1.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
12    104.0    101.0  0.417647  0.396780  0.291176  0.708824   0.291176
13    104.0    101.0  0.183202  0.903636  0.408399  0.591601   0.699575

    U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
12   0.708824  0.301610  0.698390  ...   0.014741  0.007370  0.992630
13   1.300425  0.048182  0.951818  ...   0.247210  0.065488  0.934512

    honesty2     repu2   init_T2       tp2        T2   T_dash2  sum_tdt2
12  0.698390  0.757238  0.525135  0.293032  0.698217  0.301783       1.0
13  0.782866  0.785217  0.539124  0.293032  0.824961  0.175039       1.0

[2 rows x 29 columns]

    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
14   0.643573  0.418917  0.581083  ...  0.418498  0.000999  0.044143

    distance2       md2      sim2  honesty2     repu2   init_T2      tp2
14   0.088286  0.044143  0.955857  0.581083  0.656038  0.487974  0.31991

[1 rows x 26 columns]
sum_t
1.0
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
14    104.0    102.0  0.287147  0.162167  0.356427  0.643573   0.356427

    U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
14   0.643573  0.418917  0.581083  ...   0.088286  0.044143  0.955857

    honesty2     repu2   init_T2      tp2       T2  T_dash2  sum_tdt2
14  0.581083  0.656038  0.487974  0.31991  0.58099  0.41901       1.0

[1 rows x 29 columns]
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...      dis2      unc2    n_dis2  \
15   0.759182  0.120341  0.879659  ...  0.120221  0.000999  0.085105

    distance2       md2      sim2  honesty2     repu2   init_T2       tp2
15    0.17021  0.085105  0.914895  0.879659  0.886706  0.838149  0.789593

[1 rows x 26 columns]
sum_t
1.0000000000000002
    userID1  userID2   rating1   rating2  User1dis  User1sat  U1cum_dis  \
15    104.0    103.0  0.518363  0.759317  0.240818  0.759182   0.240818

    U1cum_sat  User2dis  User2sat  ...  distance2       md2      sim2  \
15   0.759182  0.120341  0.879659  ...    0.17021  0.085105  0.914895

    honesty2     repu2   init_T2       tp2        T2   T_dash2  sum_tdt2
15  0.879659  0.886706  0.838149  0.789593  0.879617  0.120383       1.0

[1 rows x 29 columns]

In [128]:
finDF.to_csv('trust.csv', index=False)